= form_for @area_booking, url: path_for_area_booking do |f|
  - if @area_booking.errors.any?
    .alert.alert-danger{ role: 'alert' }
      = "Please fix #{pluralize(@area_booking.errors.count, "error")} before saving this guest room booking:"
      %ul
        - @area_booking.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :room_id, { value: area_room.id }

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :start_time, 'Booking start time', class: 'form-label required'
        = f.datetime_field :start_time, class: 'form-control form-control-lg'

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :end_time, 'Booking end time', class: 'form-label required'
        = f.datetime_field :end_time, class: 'form-control form-control-lg'

  .row
    .col-12.col-md-9
      .form-outline.mb-4
        = f.label :description, 'Notes', class: 'form-label required'
        = f.text_area :description, class: 'form-control', rows: 8, placeholder: 'Please write the reason why you are booking this Common House area, and anything else you think the community should know about this reservation.'

  .row
    .text-center.text-lg-start.mt-4.pt-2
      = link_to "Cancel", bookings_areas_path, class: 'btn btn-secondary'
      = f.submit "#{@area_booking.persisted? ? 'Update' : 'Create'} this booking", class: 'btn btn-primary btn-md submit-btn'

