.container.lg
  %section.user-page.new-object
    %h3
      = "Edit booking - #{area_room.name}"

    %hr
    = form_for @area_booking, url: bookings_area_path(@area_booking) do |f|
      - if @area_booking.errors.any?
        .alert.alert-danger{ role: 'alert' }
          = 'Please fix the following before saving this area booking:'
          %ul
            - @area_booking.errors.full_messages.each do |message|
              %li= message

      = f.hidden_field :room_id, { value: area_room.id }

      .row
        .col-12.col-md-6
          .form-outline.mb-4
            = f.label :start_time, 'Booking start time', class: 'form-label required'
            = f.datetime_field :start_time, class: 'form-control form-control-md'

      .row
        .col-12.col-md-6
          .form-outline.mb-4
            = f.label :end_time, 'Booking end time', class: 'form-label required'
            = f.datetime_field :end_time, class: 'form-control form-control-md'

      .row
        .col-12.col-md-6
          .form-outline.mb-4
            = f.label :name, 'Name of the event', class: 'form-label required'
            = f.text_field :name, required: true, class: 'form-control form-control-md', placeholder: 'eg. Birthday party, Meeting with coworker, Fitness class, etc'

      .row
        .col-12.col-md-4
          .form-outline.mb-4
            = f.label :level, 'What type of event?', class: 'form-label required'
            = f.select :level, options_for_area_booking_level, { selected: AreaBooking::levels[@area_booking.level] }, { class: 'form-select' }

      .row
        .col-12.col-md-9
          .form-outline.mb-4
            = f.label :description, 'Notes', class: 'form-label'
            = f.text_area :description, class: 'form-control', rows: 8, placeholder: '[Optional] Please write the reason why you are booking this Common House area, and anything else you think the community should know about this reservation.'

      .row
        .text-center.text-lg-start.mt-4.pt-2
          = link_to "Cancel", bookings_area_path(@area_booking), class: 'btn btn-secondary'
          = f.submit 'Update this booking', class: 'btn btn-primary btn-md submit-btn'
