- content_for :head do
  = javascript_import_module_tag 'fullcalendar.min'
  = javascript_import_module_tag 'areas'

.container.lg
  %section.user-page.booking-page#guest-booking{ data: { bookings: [] } }
    %h3
      = 'Book a Common House area'
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#areaBookingHelpModal'}
        %span.question-mark ?

    %hr
      %p#listAreas
        %button.btn.btn-primary{'aria-controls': 'collapseAreas', 'aria-expanded': 'false', 'data-bs-target': '#collapseCars', 'data-bs-toggle': 'collapse', type: 'button'}
          = "Show/hide CH areas (#{@areas.count})"
      #collapseCars.collapse
        .card.card-body
          - @areas.each_slice(2) do |area_row|
            .row
              - area_row.each do |area|
                .col-12.col-md-6
                  .bookable-legend
                    .square-color{ style: "background-color: #{area.calendar_color}"}
                    %span.name
                      = area.name
                      %br
                    %span
                      = area.description

    .alert.alert-danger#roomErrorMessage{ style: 'display: none;' }
    #roomBookingForm{ style: 'display: none;' }
      %h5 Please confirm your new booking
      = form_for AreaBooking.new, url: bookings_areas_path do |f|
        .row
          .col-12.col-md-4
            .form-outline.mb-4
              = f.label :room_id, 'Which area are you booking?', class: 'form-label required'
              = f.select :room_id, content_tag(:option, '-- Select a CH area --', value: '') + options_from_collection_for_select(Room.ch_areas, :id, :name, nil), {}, { class: 'form-select search-form-field' }

          .col-12.col-md-4
            .form-outline.mb-4
              = f.label :start_time, 'Booking start time', class: 'form-label required'
              = f.datetime_field :start_time, class: 'form-control form-control-md'

          .col-12.col-md-4
            .form-outline.mb-4
              = f.label :end_time, 'Booking end time', class: 'form-label required'
              = f.datetime_field :end_time, class: 'form-control form-control-md'

        .row
          .col-12.col-md-8
            .form-outline.mb-4
              = f.label :name, 'Name of the event', class: 'form-label required'
              = f.text_field :name, required: true, class: 'form-control form-control-md', placeholder: 'eg. Birthday party, Meeting with coworker, Fitness class, etc'

          .col-12.col-md-4
            .form-outline.mb-4
              = f.label :level, 'What type of event?', class: 'form-label required'
              = f.select :level, options_for_area_booking_level, {}, { class: 'form-select' }

        .row
          .col-12.col-md-8
            .form-outline.mb-4
              = f.label :description, 'Notes', class: 'form-label required'
              = f.text_area :description, class: 'form-control', rows: 6, required: true, placeholder: 'Please write the reason why you are booking this Common House area, and anything else you think the community should know about this reservation.'

        .row
          .col-12.col-md-3
            .form-outline.mb-4
              = f.submit 'Confirm booking', class: 'btn btn-primary', id: 'confirmAreaBooking', name: nil

    #calendar.calendar-full-navigation
      .spinner-border.text-success{role: 'status'}
        %span.visually-hidden Loading...

= render 'bookings/modals/area_help'
= render 'bookings/modals/view_area_booking'
