.container.lg
  %section.user-page.new-object
    %h3
      = "New CH booking - \"#{area_room.name}\""
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#newBookingHelp'}
        %span.question-mark ?

    %hr
      = render 'form', path_for_area_booking: bookings_areas_path

= render 'bookings/modals/new_and_edit_help'
