- poster = @area_booking.user

.container.lg
  %section.user-page#showBooking
    %h3
      = @area_booking.summary
      - if @area_booking.show_edit_link_for?(current_user)
        %span.links
          = link_to '✏️', edit_bookings_area_path(@area_booking), class: 'action-booking'
          = link_to '🗑️', bookings_cancel_area_booking_path(@area_booking), onclick: "return confirm('Are you sure you want to delete this booking?');", class: 'action-booking bin'

    %hr

    - if @area_booking.pending?
      .row
        .col-12
          .alert.alert-warning{ role: 'alert' }
            This booking requires approval from the CoHo circle.

    .row
      .col-12
        %span= 'Date and time:'
        = @area_booking.booking_datetime

    .row
      .col-12
        %span= 'Host:'
        = poster.full_name

    .row
      .col-12
        %span= 'Level:'
        = @area_booking.area_level

    .row
      .col-12
        %span= 'Booked CH area:'
        = @area_booking.room.name

    - if @area_booking.description.present?
      .row
        .col-12
          %span= 'Notes:'
          = simple_format @area_booking.description

    .row.actions
      .col-12.col-md-6
        = link_to "Back to the CH area calendar", bookings_areas_path, class: 'btn btn-primary btn-md'
