- content_for :head do
  = javascript_import_module_tag 'phone-mask'

.container.lg
  %section.user-page#editProfile
    %h3
      = 'Edit my profile'
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#editProfileHelpModal'}
        %span.question-mark ?

    %hr
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        - if resource.errors.any?
          .alert.alert-danger{ role: 'alert' }
            = "Please fix #{pluralize(resource.errors.count, "error")} before saving your profile:"
            %ul
              - resource.errors.full_messages.uniq.each do |message|
                - if message.include? 'Current password'
                  %li= resource.errors[:current_password].first
                - else
                  %li= message

        - if resource.household
          .row
            .col-12.col-md-6
              .form-outline.mb-4
                = f.label :household, 'Household', class: 'form-label'
                = f.text_field :household, value: resource.household_mention, class: 'form-control form-control-lg', disabled: true

        .row
          .col-12.col-md-6
            .form-outline.mb-4
              = f.label :first_name, 'First name', class: 'form-label required'
              = f.text_field :first_name, class: 'form-control form-control-lg'

        .row
          .col-12.col-md-6
            .form-outline.mb-4
              = f.label :last_name, 'Last name', class: 'form-label required'
              = f.text_field :last_name, class: 'form-control form-control-lg'

        .row
          .col-12.col-md-6
            .form-outline.mb-4
              = f.label :email, 'Email address', class: 'form-label required'
              = f.text_field :email, class: 'form-control form-control-lg'

        .row
          .col-12.col-md-6
            .form-outline.mb-4
              = f.label :current_password, 'Your password <span class="small-label">(needed to confirm any changes)</span>'.html_safe, class: 'form-label required'
              = f.password_field :current_password, autocomplete: "current-password", class: 'form-control form-control-lg'

        .row
          .col-12.col-md-6
            .form-outline.mb-4
              = f.label :password, 'New password <span class="small-label">(leave blank if you don\'t want to change it)</span>'.html_safe, class: 'form-label'
              = f.password_field :password, autocomplete: "new-password", class: 'form-control form-control-lg'

        .row
          .col-12.col-md-6
            .form-outline.mb-4
              = f.label :password_confirmation, 'New password confirmation', class: 'form-label'
              = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-lg'

        .row
          .col-12.col-md-6
            .form-outline.mb-4
              = f.label :phone_number, 'Phone number <span class="small-label">(10 digits only)</span>'.html_safe, class: 'form-label'
              = f.telephone_field :phone_number, class: 'form-control form-control-lg'

        .row
          .text-center.text-lg-start.mt-4.pt-2
            = link_to "Cancel", root_path, class: 'btn btn-secondary'
            = f.submit "Update", class: 'btn btn-primary btn-md submit-btn', id: 'submitProfile'

= render 'users/modals/edit_profile_help'
