.container.lg
  %section.user-page.show-object
    - if Setting.setup_done?
      %h3= "Sign up to #{Setting.app_name}"
    - else
      %h3 Admin account

    %hr

    - unless Setting.setup_done?
      %p Create an admin account here. You'll be able to update details here later from the "Edit your profile" page.

    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource

      .row
        .col-12.col-md-6

          .form-outline.mb-4
            = f.label :email, 'Email address', class: 'form-label'
            = f.email_field :email, autocomplete: "email", class: 'form-control form-control-lg'

          .form-outline.mb-4
            = f.label :first_name, 'First name', class: 'form-label'
            = f.text_field :first_name, class: 'form-control form-control-lg'

          .form-outline.mb-4
            = f.label :last_name, 'Last name', class: 'form-label'
            = f.text_field :last_name, class: 'form-control form-control-lg'

          .form-outline.mb-3
            = f.label :password, class: 'form-label'
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-lg'

          .form-outline.mb-3
            = f.label :password_confirmation, class: 'form-label'
            = f.password_field :password_confirmation, autocomplete: "current-password", class: 'form-control form-control-lg'

          - if Setting.setup_done?
            .text-center.text-lg-start.mt-4.pt-2
              = f.submit "Sign up", class: 'btn btn-primary btn-md'

            .text-center.text-lg-start.mt-4.pt-2
              = link_to "Log in", new_session_path(resource_name), class: 'text-body'
              %br/
              = link_to "Forgot your password?", new_password_path(resource_name), class: 'text-body'
          - else
            .text-center.text-lg-start.mt-4.pt-2
              = link_to "Back", setup_app_path, class: 'btn btn-secondary'
              = f.submit "Next", class: 'btn btn-primary btn-md'
