- if resource.errors.any?
  #error_explanation
    .alert.alert-dismissible.alert-danger{role: 'danger'}
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
      %ul
        - resource.errors.full_messages.uniq.each do |message|
          %li= message
