#areaBookingHelpModal.help-modal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'exampleModalLabel', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Book a Common House area - Help
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        .guest-room-help
          .small-header
            %strong Some guidelines about CH area booking

          %p
            When booking an area from the Common House, you have to specify the level of privacy for the given event:
            %br
            🟢 <strong>Open</strong> - this means that everybody can participate to your event.
            %br
            🟡 <strong>Semi-private</strong> - this means that the event you're organizing is private, though other TVE members are welcome to be quietly in the space.
            %br
            🔴 <strong>Private</strong> - you and your guests have exclusive use of the space.

          %p
            A CH area can be booked for a maximum of 4 hours in a row.

          %p
            If you book the Gathering Hall for a private event, then your booking will have to go through the CoHo circle for approval.

        .guest-room-help
          .small-header
            %strong How to book a CH area

          %p
            To book a CH area, first find the hours within the same day you want to book the area for. Click on the hour the booking starts, then drag your selection to the end of your booking. When on a phone/tablet, do a long-press on the start time then drag to the end time.

          %p
            You will then see a new section mentioning your date and time selection, you will then have to choose an area and write a booking description, before confirming the booking.

          .small-header
            %strong How to view an existing booking

          %p
            To check an current or future booking, just select one of the (green or blue) lines on the calendar to see its details. Past bookings are displayed in gray.

      .modal-footer
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK
