#carBookingHelpModal.help-modal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'exampleModalLabel', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Book a car - Help
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        .small-header
          %strong Rules and costs for booking a car

        %p
          You can book a car for several hours within the same day.

        %p
          It costs $8 per hour to book a car, with a maximum of $40 per day.

        %p
          Your personal fund will be debitted automatically on Sunday evenings for your weekly usage. An email summarizing your car bookings for a given week will be also sent to you at the same time. If you don't have enough money in your personal fund at the time of this debit operation, then please etransfer money to Wayne with the amount mentioned in that weekly email.

        %p
          = "You can check out all the cars #{link_to 'here', cars_path}."

        .small-header
          %strong Book an electric car

        %p
          To see our car fleet, click on the "Show/hide cars" button. Electric cars appear in the legend section with a ⚡ next to their name.

        %p
          If you're booking an electric car, please indicate how many kilometers you intend to drive during that booking. A very rough estimate is sufficient.

        %p
          This will help the next person to have a sense about whether another booking following immediately, for that same car, is possible.

        .small-header
          %strong Other details

        %p
          Notes left by the member who created the booking are specified with a 💬 in the related calendar line.

      .modal-footer
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK
