#fundHelpModal.help-modal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'fundModalLabel', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#fundModalLabel.modal-title Funds and transactions - Help
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        .small-header
          %strong Your personal fund and the community funds

        %p
          The first thing you can see here is the balance of your personal fund. This is what you will be using when making small transactions through the website, such as paying for the a portion of food at a common meal. Your past transactions are listed in the "Your fund" tab, within the "Transactions" section.

        %p
          You also have details about the existing community funds, such as the "DIT meals" fund. Community funds are not tied to a particular individual. Instead, they are used to cover expenses in a specific domain of for a specific event.

        .small-header
          %strong How to contribute to a fund?

        %p
          In order to send money to a fund, please eTransfer an amount of your choice to the following email address:

        %p.etransfer-email funds@treehousevillage.ca

        %p
          When you prepare your eTransfer, please indicate in the eTransfer description which fund you wish to contribute to (eg. "Money for my fund", "Contribution to DIT meals", etc). If you're not specifying any description, the money will go to your personal fund by default.

        %p Sometime after the eTransfer is initiated, and if you chose to send money to yourself, you will be receiving an email from the internal website, notifying that your personal fund has been credited. You won't receive an email if you're choosing to credit a community fund.

        %p In any case, your contribution will appear in the "Transactions" table below, along with the 4 last characters of your Interac confirmation number for reference.

      .modal-footer
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK
