#guestBookingHelpModal.help-modal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'exampleModalLabel', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Book a guest room - Help
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        .guest-room-help
          .small-header
            %strong Guest Room Host Responsibilities

          %ul
            %li Please remind your guests that our suites are scent free, smoke free and no pets are allowed in our Common House. There is a smoking bench in the parking lot.
            %li Our coffee bar is open for guest use, milk and sugar are provided. There is a colour coded basket for you to provide any special snacks for your guest. You'll find the baskets on the linen shelf in the laundry room.
            %li There are 2 (colour coded)  keys/fobs for each room, to be found hanging on the wire linen shelf in the laundry room. Take the clip with both sets for your guest room.
            %li Clean towels and other linens can be found in the laundry room. Lay out a towel/face cloth, etc in your guest suite for each guest.
            %li Upon checkout - tidy (dust and swiff)  the room, strip the bed, launder all linens and remake the bed.
            %li Clean the bathroom - supplies are currently found in the laundry room.
            %li Remember to clean and wipe out your snack basket and return it to the linen shelf.
            %li When the room is clean and ready for the next use, return the keys and fobs to the shelf in the laundry room.

        .guest-room-help
          .small-header
            %strong Details and options about the guest rooms

          %p
            Each guest room has a queen bed.

          %p
            In addition to that, the following can be available upon request:
            %ul
              %li Pack 'n Play.
              %li Fold-up cot.

          %p
        .guest-room-help
          .small-header
            %strong Guidelines about guest room booking

          %p
            You can book a guest room for up to 10 nights per single booking.

          %p
            Each household can book up to 10 nights per calendar year for free. After that, a fee of $15 will charged for each additional night booked throughtout that same calendar year. A counter on this page keeps track of the remaning free night a household gets to spend for the current year and the next year.

          %p
            Members booking a room more than four months in advance will receive an email at some point to confirm whether they still want to maintain their booking.

          %p= "For more details about guest room booking rules, please check out the #{link_to 'guest room policy', Rails.application.credentials.dig(:tve_resources, :guest_room_policy), target: '_blank' }.".html_safe

        .guest-room-help
          .small-header
            %strong How to book a guest room

          %p
            To book a guest room, first find the dates you want to book the room for. Click on the first date then drag your selection to the end date of the desired booking. When on a phone/tablet, do a long-press on the start date then drag to the end date. You will then see a small window mentioning your date selection. Click then on "Continue booking" to proceed move forward with your booking.

          %p If the desired dates span over two months, you may not be able to select all the dates in one go. It's ok, after clicking on "Continue booking", you will be able to update the start and end dates manually.

          .small-header
            %strong How to view an existing booking

          %p
            To check an current or future booking, just select one of the (green or blue) lines on the calendar to see its details. Past bookings are displayed in gray. Notes left by the member who created the booking are specified with a 💬 in the related calendar line.
      .modal-footer
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK
