#newBookingHelp.help-modal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'newPostModalLabel', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#newPostModalLabel.modal-title Confirm a booking
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        %p
          Fields with
          %span.asterisk*
          are mandatory.

        %h5 Dates

        %p Even if you have selected dates on the calendar in the previous screen, feel free to updates both dates here before confirming your booking.

        %h5 Expected distance (in kms)

        %p When booking an electric car, please indicate (roughly) the number of kilometers you intend to drive. This will help the system to estimate the necessary car charging time to take into account after your booking is done, and before making the car available again. Your estimation does not have to be accurate at all, just give your best guess but don't worry too much :-)

      .modal-footer
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK

