#fundHelpModal.help-modal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'fundModalLabel', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#fundModalLabel.modal-title Send money from your fund - Help
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        .small-header
          %strong How to add money to your personal fund?

        %p
          Before transfering money from your TVE personal fund to another fund, you will need to add some money to your personal fund.
        %p
          To do that, please eTransfer an amount of your choice to the following email address:

        %p.etransfer-email funds@treehousevillage.ca

        %p
          When you prepare your eTransfer, please indicate in the eTransfer description that you want to add this amount to your personal fund (eg. just write  "TVE personal fund" in the description).

        %p Sometime after the eTransfer is initiated, you will be receiving an email from the internal website, notifying that your personal fund has been credited.

        %p
          You can then come back to this page here to transfer money from your personal fund to another one.

      .modal-footer
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK
