#viewBookingModal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'viewRoomModal', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#viewRoomModal.modal-title
          %span#viewRoomHost
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        %p
          🛌
          %span#viewRoomRoom
          %br
          🕓
          %span#viewRoomDates
        %p#viewRoomNotes
      .modal-footer
        = link_to 'Edit / Delete', '#', id: 'editDelete', class: 'btn btn-secondary'
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK
