#viewMealModal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'viewRoomModal', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title
          %span#viewMeal
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        #viewAlreadySignedUp
          .card
            .card-body
              = '✅ Your household is already registered for this meal.'
              %br
              %span= link_to 'Update your registration', '#', id: 'updateRegistrationLink'

        %p
          📅
          %span#viewDateTime
          %br
          🍴 Portions:
          %span#viewPortions

        %p#viewMealNotes

        %p#viewAttendees

      .modal-footer
        %button.btn.btn-secondary{'data-bs-dismiss': 'modal', type: 'button'} Close
        = link_to 'See meal details', '#', id: 'seeMealDetails', class: 'btn btn-primary'
        = link_to 'Sign-up to this meal!', '#', id: 'signUpMeal', class: 'btn btn-primary'
