#viewCarBookingModal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'viewRoomModal', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#viewRoomModal.modal-title
          %span#viewCarBooked
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        %p
          🚗
          %span#viewCar
          %br
          🕓
          %span#viewBookingDateTime

        %p#dataForElectric
          Expected distance:
          %span#viewBookingExpectedDistance
          %br
          Recommended charging time:
          %span#viewBookingChargingTime

        %p#viewCarNotes
      .modal-footer
        = link_to 'See booking details', '#', id: 'editDelete', class: 'btn btn-secondary'
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK
