#viewBookingModal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'viewRoomModal', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#viewRoomModal.modal-title
          %span#viewAreaBooked
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        #approvalCoHo.alert.alert-warning{ role: 'alert' }
          This booking requires approval from the CoHo circle.
        %p
          🏠
          %span#viewArea
          %br
          %span#viewLevel
          %br
          🕓
          %span#viewBookingDateTime
        %p
          Host: 
          %span#viewHost
          %br
        %p#viewAreaNotes
      .modal-footer
        = link_to 'Edit / Delete', '#', id: 'editDelete', class: 'btn btn-secondary'
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK
