#viewCarChargingModal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'viewCarChargingModal', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#viewRoomModal.modal-title
          Charge time
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        %ul
          %li
            Car:
            %span#viewChargingCar
          %li
            Suggested charge time:
            %span#viewPreferredDuration
        %p#viewRoomNotes
      .modal-footer
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK
