- total_cost = number_to_currency(@total_amount)

%h3= "Hello #{@user.first_name},"

%p= "This is a summary of your car usage last week (#{@period_start.strftime('%b %d')} - #{@period_end.strftime('%b %d')}) 🚗"

%ul
  - @booking_summary.each do |summary|
    %li= "#{summary[:date].strftime('%A %b %d')}: #{summary[:usage_time]} hour(s), #{number_to_currency(summary[:cost])}"

- if @booking_payment.pending?
  %p= "The total cost is #{total_cost}. Please send this amount to Wayne via e-transfer."
- elsif @booking_payment.paid?
  %p= "A total of #{total_cost} has been debited automatically from your personal fund."

%p= 'Thanks!'
