#homeHelpModal.help-modal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'exampleModalLabel', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Your home page
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        .small-header
          %strong= "Hey #{current_user.first_name},"

        %p
          Welcome to your home page.

        %p
          On this home page, you can see all notifications related to actions you're taking on this website.

        %p
          - if current_user.emeritus?
            In the top navigation bar, click on the amount showing next to your name to access your personal fund.
          - else
            In the top navigation bar, click on "Services" to access the main features of this website. Click on the amount showing next to your name to access your personal fund.

        %p
          = "Whenever you want to come back to your home page, click on \"#{Setting.app_name}\" in the top navigation bar. Anytime you have a question about anything on this website, please first check out help provided by clicking on \"?\" at the top of the page you're on.".html_safe

        %p
          If you happen to see something that's not working, a typo, or if you'd like to make a suggestion on improving this website, please feel free to reach out to Etienne at <a href='mailto:etiennebaque@gmail.com'>etiennebaque@gmail.com</a>.

      .modal-footer
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} Sounds good!
