- total_number_of_boxes = order.egg_payments.sum(&:number_of_boxes)
- paid_payments = order.egg_payments.paid.select('user_id, state, sum(number_of_boxes) as total_number_of_boxes').group(:user_id, :state)
- pending_payments = order.egg_payments.pending.select('user_id, state, number_of_boxes as total_number_of_boxes, id')
- payments = paid_payments + pending_payments

.delivery-section
  %h5
    = "#{order.delivery_date_label} delivery"
    - if order.purchase_date >= @current_archive_threshold && payments.present?
      = link_to '"Eggs are here!" email', admin_notify_about_egg_delivery_path({ id: order.id }), class: 'btn btn-primary btn-sm ', type: 'button'

  .number-boxes
    = "Total boxes available: #{order.max_boxes.present? ? order.max_boxes : 'no limit'}"
    - if Date.current < order.purchase_date
      = link_to 'Update number', edit_egg_order_path(order), class: 'btn btn-primary btn-sm update-num-btn', type: 'button'

  - if payments.empty?
    = 'No purchase for this order.'
  - else
    %table.table.table-striped
      %thead
        %tr
          %th{scope: 'col'} Name
          %th{scope: 'col'} Num. boxes
          %th{scope: 'col'} Amount
          %th{scope: 'col'} Status
      %tbody
        - payments.each do |payment|
          %tr
            %td= payment.user.full_name
            %td= payment.total_number_of_boxes
            %td= number_to_currency(order.price * payment.total_number_of_boxes)
            %td
              = payment.state.capitalize
              - if payment.pending?
                .mark-as-paid
                  = link_to 'Mark as paid', admin_mark_egg_payment_as_paid_path({ id: payment.id }), class: 'btn btn-primary btn-sm', type: 'button'
      %tfoot
        %tr
          %td= 'TOTAL'
          %td= total_number_of_boxes
          %td= number_to_currency(order.price * total_number_of_boxes)
          %td= ''

