.container.lg
  %section.user-page.event-lists
    %h3
      = 'Coordinate CH area bookings'

    %hr

    .sub-section
      %h5
        = "Bookings to review"
      - if @unconfirmed_bookings.present?
        - @unconfirmed_bookings.each do |booking|
          - user = booking.user
          - contact = [email_html_link_for(user.email), phone_number_html_link_for(user.phone_number)].compact.join(' - ')
          .event
            .event-summary
              = link_to booking.summary, bookings_area_path(booking), class: 'link'
            .details= "Booked on #{booking.booking_datetime} by #{user.full_name} (#{contact})".html_safe
            .details
              = link_to 'Confirm booking', admin_mark_area_booking_as_confirmed_path({ id: booking.id }), class: 'btn btn-primary btn-sm', type: 'button'
              = link_to 'Delete booking', bookings_cancel_area_booking_path(booking), onclick: "return confirm('Are you sure you want to delete this booking?');", class: 'btn btn-danger btn-sm', type: 'button'
      - else
        %p= 'No area booking with a pending confirmation to review for now.'
