.container.lg
  %section.user-page.event-lists.admin-screen
    %h3
      = 'Pending car booking payments'

    %hr

    .sub-section
      - if @pending_payments.none?
        .event
          There is no pending car booking payments.
      - else
        %table.table.table-striped
          %thead
            %tr
              %th{scope: 'col'} Booking period
              %th{scope: 'col'} Member name
              %th{scope: 'col'} Cost
              %th{scope: 'col'} 
          %tbody
            - @pending_payments.each do |payment|
              %tr
                %td= "#{payment.period_start} - #{payment.period_end}"
                %td= payment.user.full_name
                %td= "#{number_to_currency(payment.amount)}"
                %td
                  .mark-as-paid
                    = link_to 'Mark as paid', admin_mark_car_booking_payment_as_paid_path({ id: payment.id }), class: 'btn btn-primary btn-sm', type: 'button'
