.container.lg
  %section.user-page.event-lists.admin-screen
    %h3
      = 'Manage egg orders'
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#EggEmailsModal'}
        %span.question-mark ✉️

    %hr

    .sub-section
      - if EggOrder.none?
        .event
          No egg order has been made (yet).
      - else
        - if @revenue_for_three_last_months.present?
          %h5 Recent total revenue summary

          %ul
            - @revenue_for_three_last_months.each do |date, days_and_costs|
              %li= "For #{date} - #{days_and_costs.map{|day, cost| "#{day.capitalize}: #{number_to_currency(cost)}"}.join('; ')}"

          %hr

        - @next_egg_orders.each do |order|
          = render 'egg_order_summary', order: order

        %hr

        #accordionEggOrders.accordion.accordion-flush
          .accordion-item
            %h2#pastEggOrders.accordion-header
              %button.accordion-button.collapsed{"aria-controls" => "eggOrderCollapse", "aria-expanded" => "false", "data-bs-target" => "#eggOrderCollapse", "data-bs-toggle" => "collapse", type: "button"}
                = 'Recent past egg orders'
            #eggOrderCollapse.accordion-collapse.collapse{"aria-labelledby" => "pastEggOrders", "data-bs-parent" => "#accordionFlushExample"}
              .accordion-body
                - @past_egg_orders.each do |order|
                  = render 'egg_order_summary', order: order

= render 'admin/modals/view_egg_emails'
