.container.lg
  %section.user-page.event-lists
    %h3
      = 'Coordinate guest rooms'

    %hr

    .sub-section
      %h4
        = "Unconfirmed bookings to review"
      - if @unconfirmed_bookings.present?
        - @unconfirmed_bookings.each do |booking|
          - user = booking.user
          - contact = [email_html_link_for(user.email), phone_number_html_link_for(user.phone_number)].compact.join(' - ')
          .event
            .event-summary
              = link_to booking.summary, bookings_guest_path(booking), class: 'link'
            .details= "Booked from #{booking.start_date.to_date} to #{booking.end_date.to_date}, by #{user.full_name} (#{contact})".html_safe
            .details= "Asked for confirmation by email #{days_since_confirmation_email_for(booking)} #{'day'.pluralize(days_since_confirmation_email_for(booking))} ago"
            .details
              = link_to 'Confirm', admin_mark_booking_as_confirmed_path({ id: booking.id }), class: 'btn btn-primary btn-sm', type: 'button'
              = link_to 'Cancel', bookings_cancel_room_booking_path(booking), onclick: "return confirm('Are you sure you want to cancel this booking?');", class: 'btn btn-danger btn-sm', type: 'button'
      - else
        %p= 'There is no booking with a pending confirmation to review.'

    .sub-section
      %h4
        = "Pending payments"
      - if @bookings_with_payments.present?
        - @bookings_with_payments.each do |booking|
          - user = booking.user
          - payment = booking.room_payment
          - contact = [email_html_link_for(user.email), phone_number_html_link_for(user.phone_number)].compact.join(' - ')
          .event
            .event-summary
              = link_to booking.summary, bookings_guest_path(booking), class: 'link'
            .details= "- Booked from #{booking.start_date.to_date} to #{booking.end_date.to_date}, by #{user.full_name} (#{contact})".html_safe
            .details= "- #{payment.description}: #{number_to_currency(payment.amount)}"
            .details
              = link_to 'Mark booking as paid', admin_mark_balance_as_paid_path({ id: booking.id }), class: 'balance-paid btn btn-primary btn-sm', type: 'button'
      - else
        %p= 'There is no booking with a pending payment.'
