.container.lg
  %section.user-page.event-lists.admin-screen
    %h3
      = @is_showing_closed_list ? 'Closed meals' : 'Meals to close'
      %span.links
        = link_to '📄', admin_download_meals_path, title: 'Download closed meal data', class: 'action-post'

    %hr

    .sub-section
      - if @is_showing_closed_list
        = link_to 'Show list of meals to close', admin_meals_path
      - else
        = link_to 'Show list of closed meals', admin_meals_path({closed: 1})

    .sub-section
      - @recent_meals.each do |meal|
        .event
          .event-summary
            = link_to "#{meal_date_for(meal)} - #{meal.title}", admin_meal_path(meal.id)

