- meal_payments = @meal.meal_payments.includes(meal_seating_choices: [:meal_portion_choices, :meal_seating_attendees])
- payment_total = meal_payments.sum(&:amount)
- meal_cost = @meal.cost
- meal_user = @meal.user
- common_meal_transfer = payment_total - meal_cost if meal_cost.present?
- common_meal_balance = Fund.common_meals.balance
- meal_fund_name = Fund.common_meals.name

.container.lg
  %section.user-page.event-lists.admin-screen
    %h4
      = "#{meal_date_for(@meal)} - #{@meal.title}"

    %hr

    %p= "Meal prepared by #{meal_user.full_name}. See #{link_to 'meal details', meal_path(@meal)}.".html_safe

    .sub-section
      %h5= 'Attendees'

      - if meal_payments.none?
        %p= 'No payment (paid or pending) associated to this meal yet.'
      - else
        %table.table.table-striped
          %thead
            %tr
              %th{scope: 'col'} Name(s)
              %th{scope: 'col'} Portion(s)
              %th{scope: 'col'} Amount
          %tbody
            - meal_payments.each do |payment|
              - attendees = payment.meal_seating_choices.map(&:attendee_labels).flatten.join(', ')
              %tr
                %td= attendees
                %td= cost_breakdown_for(payment)
                %td= number_to_currency(payment.amount)
            %tfoot
              %tr
                %td= 'Meal revenue'
                %td= ''
                %td= number_to_currency(payment_total)

    .sub-section
      %h5= 'Balance'
      %p= "#{meal_fund_name} fund balance: #{number_to_currency(common_meal_balance)}"
      %table.table.table-striped
        %tbody
          %tr
            %td= 'Meal Revenue'
            %td= number_to_currency(payment_total)
            %td= ''
          %tr
            %td= 'Meal Cost'
            - if meal_cost.nil?
              %td= "Please #{link_to 'update the meal cost', edit_meal_path(@meal)} first".html_safe
            - elsif !@meal.closed?
              %td= "#{number_to_currency(meal_cost)} #{link_to 'Update', edit_meal_path(@meal)}".html_safe
            - else
              %td= number_to_currency(meal_cost)
            %td= ''
        %tfoot
          %tr
            %td= 'Common meal fund gain/loss'
            - if meal_cost.nil?
              %td= 'N/A'
            - else
              %td= number_to_currency(common_meal_transfer)
            %td= ''

    - unless meal_cost.nil?
      - if @meal.closed?
        %p= "The common meal fund has already been debitted accordingly. This meal is closed."
      - elsif meal_cost > common_meal_balance
        %p= "⚠️ You cannot close this meal, as there is not enough money in the #{meal_fund_name} fund to debit! Please add more money in that fund first."
      - else
        %p= "By clicking on \"Debit fund\", you will take out #{number_to_currency(meal_cost)} from this fund. #{meal_admin_action_call(meal_user)}" 

        .text-center.text-lg-start.mt-4.pt-2
          = link_to "Debit fund", admin_close_meal_path({id: @meal.id}), class: 'btn btn-primary btn-md'
