.container.lg
  %section.user-page
    %h3= 'Add money to a fund'

    %hr

    = form_with url: admin_add_money_to_fund_path do |f|
      .row
        .col-12.col-md-6
          .form-outline.mb-4
            = f.label :amount, 'Amount to add', class: 'form-label required'
            = f.number_field :amount, min: 0.01, step: 0.01, class: 'form-control form-control-md'

      .row
        .col-12.col-md-6
          .form-outline.mb-4
            = f.label :interac, 'Interac ref. #', class: 'form-label'
            = f.text_field :interac, class: 'form-control form-control-md'

      .row
        .col-12.col-md-6
          .form-outline.mb-4
            = f.label :recipient_description, 'Note', class: 'form-label'
            = f.text_field :recipient_description, class: 'form-control form-control-md'

      .row
        .col-12.col-md-6
          .form-outline.mb-4
            = f.label :fund_id, 'Recipient (Community fund or member)', class: 'form-label required'
            = f.select :fund_id, options_from_collection_for_select(Fund.active.community.order(:name), :id, :community_display_name, nil) + options_from_collection_for_select(Fund.active.personal.order(:name), :id, :name, nil), {}, { class: 'form-select search-form-field' }

      .text-center.text-lg-start.mt-4.pt-2
        = link_to "Cancel", root_path, class: 'btn btn-secondary'
        = f.submit "Add money", class: 'btn btn-primary btn-md submit-btn', data: { confirm: "Are you sure you want to add this amount to this fund?" }

    %hr

    %h5= 'Latest 10 operations'

    %table.table.table-striped
      %thead
        %tr
          %th{scope: 'col'} Date and time
          %th{scope: 'col'} Recipient (member or fund)
          %th{scope: 'col'} Interac ref. #
          %th{scope: 'col'} Amount
      %tbody
        - Transfer.without_sender.last(10).reverse.each do |transfer|
          %tr
            %td= transfer.created_at.strftime('%b %d %Y, %l.%M%P')
            %td= transfer.recipient.name
            %td= transfer.masked_interac
            %td= number_to_currency(transfer.amount)
