%h3= "Hello #{@user.first_name},"

%p
  = 'This is to confirm that the following guest room booking is about three months away from now. Since you booked it in advance, we wanted to know whether you were maintaining your booking.'

%p
  = 'Your booking:'
  <br />
  = "- #{@booking.summary} from #{@booking.start_date.to_date} to #{@booking.end_date.to_date}"

%p
  = 'Please click on one of the two links:'
  %ul
    %li{style: 'padding-bottom: 15px;'}= link_to 'Confirm and maintain this booking', bookings_confirm_room_booking_url(@booking)
    %li{style: 'padding-bottom: 15px;'}= link_to 'Show this booking to edit it or delete it', bookings_guest_url(@booking)

%p
  = 'Have a good day!'
