Hello #{@user.first_name},

This is just a reminder that the following guest room booking is coming up soon!

#{@booking.summary}
Start date: #{@booking.start_date.to_date}
End date: #{@booking.end_date.to_date}
- if @booking.description.present?
  Note: #{@booking.description}

Have a good day!
