%h3= "Hello #{@user.first_name},"

%p
  = 'This is just a reminder that the following guest room booking is coming up soon!'

%ul
  %li= @booking.summary
  %li= "Start date: #{@booking.start_date.to_date}"
  %li= "End date: #{@booking.end_date.to_date}"
  - if @booking.description.present?
    %li= "Note: #{@booking.description}"

%p
  = 'Have a good day!'
