%section.devise-page.vh-100
  .container-fluid.h-custom
    .row.d-flex.h-100
      .col-lg-8.col-xl-4.offset-xl-1
        .page-title
          Change your password

        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = render "devise/shared/error_messages", resource: resource
          = f.hidden_field :reset_password_token

          .form-outline.mb-4
            = f.label :password, 'New password', class: 'form-label'
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control form-control-lg'

          .form-outline.mb-4
            = f.label :password_confirmation, 'Confirm your new password', class: 'form-label'
            = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-lg'

          .text-center.text-lg-start.mt-4.pt-2
            = f.submit "Change my password", class: 'btn btn-primary btn-md'

          .text-center.text-lg-start.mt-4.pt-2
            = link_to "Log in", new_session_path(resource_name), class: 'text-body'
            %br/
            = link_to "Sign up", new_registration_path(resource_name), class: 'text-body'
            %br/
            = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'text-body'
