#EggEmailsModal.help-modal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'exampleModalLabel', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Egg order subscribers
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        %code= email_addresses_for_user_subscribers


