%footer.footer.mt-auto.py-3.bg-light
  .container.my-3
    .container.lg
      .row
        .col-12.col-md-6.link-group
          %h5 This website
          %ul.list-unstyled.text-small
            %li
              = link_to 'Source code', 'https://codeberg.org/etienne/treehouse', class: 'link', target: '_blank'
            %li
              = link_to 'Issue tracker', 'https://codeberg.org/etienne/treehouse/issues', class: 'link', target: '_blank'
