%nav.navbar.navbar-expand-lg.navbar-dark.bg-green
  .container
    - if @maintenance_is_on
      = link_to "#{Setting.app_name} in maintenance", root_path, id: 'maintenanceOn', class: 'navbar-brand'
    - else
      = link_to Setting.app_name, root_path, class: 'navbar-brand'

    - if user_signed_in? && Setting.setup_done?
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          - if current_user.admin? && !current_user.emeritus?
            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                Admin
              %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                - if current_user.guest_room_coordinator?
                  %li
                    = link_to 'See all rooms', rooms_path, {class: 'dropdown-item'}
                  %li
                    = link_to 'Coordinate guest rooms', admin_guest_rooms_path, {class: 'dropdown-item'}
                - if current_user.area_booking_coordinator?
                  %li
                    = link_to 'Coordinate CH area bookings', admin_area_bookings_path, {class: 'dropdown-item'}

                - if current_user.car_booking_payment_admin?
                  %li
                    = link_to 'Pending car booking payments', admin_car_booking_payments_path, {class: 'dropdown-item'}

                - if current_user.common_meal_admin?
                  %li
                    = link_to 'Manage meals', admin_meals_path, {class: 'dropdown-item'}

                - if current_user.fund_admin?
                  %li
                    = link_to 'Add money to a fund', admin_money_path, {class: 'dropdown-item'}

                - if current_user.egg_admin?
                  %li
                    = link_to 'Manage egg orders', admin_egg_orders_path, {class: 'dropdown-item'}


          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              Services
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                = link_to 'Send money', send_money_path, {class: 'dropdown-item'}
              %li
                = link_to 'Meals', meals_path, {class: 'dropdown-item'}

              - if !current_user.emeritus?
                %li
                  = link_to 'Book a car', bookings_cars_path, {class: 'dropdown-item'}

                %li
                  = link_to 'Book a CH area', bookings_areas_path, {class: 'dropdown-item'}

                %li
                  = link_to 'Book a guest room', bookings_guests_path, {class: 'dropdown-item'}

              %li
                = link_to 'Marketplace', posts_path, {class: 'dropdown-item'}

          - unless current_user.emeritus?
            %li.nav-item
              = link_to 'Links', links_path, { class: 'nav-link' }

          - if @maintenance_is_on
            %li.nav-item
              %span
                %a#maintenanceOn.nav-link.disabled{'aria-disabled' => 'true'}
                  = "Maintenance is on!"

        %form.right-menu.d-flex
          %ul.navbar-nav.me-auto.mb-2.mb-lg-0
            %li.nav-item
              = link_to "💵 #{number_to_currency(current_user.fund.balance)}".html_safe, funds_path, { class: 'nav-link' }

            %li.nav-item.dropdown
              %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
                = current_user.first_name
              %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
                %li
                  %span.dropdown-item.email
                    = current_user.email
                %li
                  = link_to 'Edit my profile', edit_user_registration_path, { class: 'dropdown-item' }
                %li
                  = link_to 'My settings', user_settings_path, { class: 'dropdown-item' }
                %li
                  %hr.dropdown-divider
                %li
                  = link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'dropdown-item'
