- no_event = [@upcoming_room_bookings, @upcoming_car_bookings, @upcoming_area_bookings, @upcoming_meals, @posts, @egg_payments].all?(&:empty?)

.container.lg
  %section.user-page.event-lists
    %h3
      = 'Home page'
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#homeHelpModal'}
        %span.question-mark ?

    %hr

    - if no_event
      .sub-section
        Nothing is happening! (no new notification)

    - if @upcoming_car_bookings.present? || @pending_car_booking_payments.present?
      .sub-section
        %h4
          = "🚗 Your car bookings"
        - if @pending_car_booking_payments.present?
          .card.border-warning.mb-3.col-12.col-md-6
            .card-body
              %p.card-text You need to pay for the following car bookings:
              %ul
                - @pending_car_booking_payments.each do |payment|
                  %li= "From #{payment.period_start} to #{payment.period_end}: #{number_to_currency(payment.amount)}"
              %p.car-text Please send an etransfer to Wayne. Thanks!

        - if @upcoming_car_bookings.present?
          - @upcoming_car_bookings.each do |booking|
            .event
              .event-summary
                = link_to "Booked '#{booking.car.title}'", bookings_car_path(booking), class: 'link'
              .details= booking.booking_datetime

    - if @egg_payments.present?
      .sub-section
        %h4
          = "🥚 Your upcoming egg deliveries"
        - @egg_payments.each do |egg_payment|
          .event
            %span.details
              = "Delivery on #{egg_payment.egg_order.purchase_date.strftime('%a %B %d').strip} (#{egg_payment.number_of_boxes} dozen) "
            - if egg_payment.paid?
              %span.badge.bg-success= "Paid"
            - else
              %span.badge.bg-warning.text-dark= "Payment pending"


    - if @upcoming_meals.present?
      .sub-section
        %h4
          = "🍴 Your next meals"
        - @upcoming_meals.each do |meal|
          .event
            .event-summary
              = link_to meal.title, meal_path(meal), class: 'link'
            .details= meal_reg_date_and_time_for(meal, @household)

    - if @upcoming_area_bookings.present?
      .sub-section
        %h4
          = "🏠 Your CH area bookings"
        - @upcoming_area_bookings.each do |booking|
          .event
            .event-summary
              = link_to booking.room.name, bookings_area_path(booking), class: 'link'
            .details= booking.booking_datetime

    - if @upcoming_room_bookings.present?
      .sub-section
        %h4
          = "🛌 Your guest room bookings"
        - @upcoming_room_bookings.each do |booking|
          .event
            .event-summary
              = link_to booking.summary, bookings_guest_path(booking), class: 'link'
            .details= "from #{booking.start_date.to_date} to #{booking.end_date.to_date}"
            - if booking.payment_required?
              - payment = booking.room_payment
              .details
                %span.badge.bg-warning.text-dark= "Payment required: #{number_to_currency(payment.amount)}"

    - if @posts.present?
      .sub-section#postList
        %h4
          = "📄 Your posts"
        - @posts.each do |post|
          .event
            .event-summary
              = link_to post.title, post_path(post), class: 'link'
            .details= price_option_label_for(post)

        = paginate @posts

= render 'home/modals/home_help'
