.container.lg
  %section.user-page.useful-links
    %h3= "Links to #{Setting.app_name} resources"

    %hr

    .sub-section
      .description
        (All links open a Google document or another website in a new tab)

      .row
        %ul.list-unstyled
          %li
            = link_to 'Everything you need to know about Coming Home', Rails.application.credentials.dig(:tve_resources, :everything), target: '_blank'
          %li
            = link_to 'Learning Tree', Rails.application.credentials.dig(:tve_resources, :learning_tree), target: '_blank'
          %li
            = link_to 'Members Calendar', Rails.application.credentials.dig(:tve_resources, :calendar), target: '_blank'
          %li
            = link_to 'Members List', Rails.application.credentials.dig(:tve_resources, :members), target: '_blank'
          %li
            = link_to 'Policy Directory', Rails.application.credentials.dig(:tve_resources, :policy_logbook), target: '_blank'
          %li
            = link_to 'Template Directory', Rails.application.credentials.dig(:tve_resources, :template_directory), target: '_blank'
