#editProfileHelpModal.help-modal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'editProfileModalLabel', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#newPostModalLabel.modal-title Edit my profile
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}

      .modal-body
        %p
          Fields with
          %span.asterisk*
          are mandatory.

        %p
          Any change on this page will require you to enter your password into the "Your password" field, so that you can update your profile effectively.

        %h5 Password change

        %p
          If you wish to change your password, please fill out the "New password" and "New password confirmation" fields. Leave these two fields empty if you with to keep the same password.

        %h5 Phone number

        %p
          Please feel free to enter your phone number (not a required field). If you do so, it will appear in your Marketplace posts, so that other TVE members have another way of contacting you, in addition to your email address.

      .modal-footer
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK
