= form_for @car_booking, url: path_for_car_booking do |f|
  - if @car_booking.errors.any?
    .alert.alert-danger{ role: 'alert' }
      = "Please fix #{pluralize(@car_booking.errors.count, "error")} before saving this guest room booking:"
      %ul
        - @car_booking.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :car_id, { value: car.id }

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :start_time, 'Booking start time', class: 'form-label required'
        = f.datetime_field :start_time, class: 'form-control form-control-lg'

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :end_time, 'Booking end time', class: 'form-label required'
        = f.datetime_field :end_time, class: 'form-control form-control-lg'

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :note, 'Note', class: 'form-label'
        = f.text_area :note, class: 'form-control', rows: 6, placeholder: 'Add any details you want to tell the community about this booking (optional).'

  - if @car.electric?
    .row
      .col-12.col-md-6
        .form-outline.mb-4
          = f.label :expected_distance, 'Estimated distance (in kms)', class: 'form-label required'
          = f.number_field :expected_distance, class: 'form-control form-control-lg'
  .row
    .text-center.text-lg-start.mt-4.pt-2
      = link_to "Cancel", bookings_cars_path, class: 'btn btn-secondary'
      = f.submit "#{@car_booking.persisted? ? 'Update' : 'Create'} this booking", class: 'btn btn-primary btn-md submit-btn'
