.container.lg
  %section.user-page.new-object
    %h3
      = "Edit booking for the #{car.title}"
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#newBookingHelp'}
        %span.question-mark ?

    %hr
      = render 'form', path_for_car_booking: bookings_car_path(@car_booking)

= render 'bookings/modals/new_and_edit_help'
