- content_for :head do
  = javascript_import_module_tag 'car'
  = javascript_import_module_tag 'fullcalendar.min'

.container.lg
  %section.user-page.booking-page
    %h3
      = 'Book a car'
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#carBookingHelpModal'}
        %span.question-mark ?

    %hr
      %p#listCars
        %button.btn.btn-primary{'aria-controls': 'collapseCars', 'aria-expanded': 'false', 'data-bs-target': '#collapseCars', 'data-bs-toggle': 'collapse', type: 'button'}
          = "Show/hide cars (#{@cars.count})"
      #collapseCars.collapse
        .card.card-body
          - @cars.each_slice(3) do |car_row|
            .row
              - car_row.each do |car|
                .col-12.col-md-4
                  .bookable-legend
                    .square-color{ style: "background-color: #{car.calendar_color}"}
                    %span.name
                      = link_to car.title, car_path(car)
                    - if car.electric?
                      %span.bolt ⚡

    %p#carErrorMessage{ style: 'display: none;' }
    #carBookingForm{ style: 'display: none;' }
      %h5 Please confirm your new booking
      = form_for CarBooking.new, url: bookings_cars_path do |f|
        .row
          .col-12.col-md-4
            .form-outline.mb-4
              = f.label :car_id, 'Which car are you booking?', class: 'form-label required'
              = f.select :car_id, content_tag(:option, '-- Please select a car --', value: '') + options_from_collection_for_select(Car.all, :id, :title_with_emoji, nil), {}, { class: 'form-select form-control-md' }

          .col-12.col-md-4
            .form-outline.mb-4
              = f.label :start_time, 'Booking start time', class: 'form-label required'
              = f.datetime_field :start_time, class: 'form-control form-control-md'

          .col-12.col-md-4
            .form-outline.mb-4
              = f.label :end_time, 'Booking end time', class: 'form-label required'
              = f.datetime_field :end_time, class: 'form-control form-control-md'

        .row
          .col-12.col-md-8
            .form-outline.mb-4
              = f.label :note, 'Notes', class: 'form-label'
              = f.text_area :note, class: 'form-control', rows: 4, placeholder: '[Optional] Add any details you want to tell the community about this booking.'

          .col-12.col-md-4#expectedDistance
            .form-outline.mb-4
              = f.label :expected_distance, 'Estimated distance, in kms (⚡ cars only)', class: 'form-label'
              = f.number_field :expected_distance, class: 'form-control form-control-lg', value: 10

        .row
          .col-12.col-md-3
            .form-outline.mb-4
              = f.submit 'Confirm booking', class: 'btn btn-primary', id: 'confirmCarBooking', name: nil

    #calendar.calendar-full-navigation
      .spinner-border.text-success{role: 'status'}
        %span.visually-hidden Loading...

= render 'bookings/modals/car_help'
= render 'bookings/modals/view_car_booking'
= render 'bookings/modals/view_car_charging'
