.container.lg
  %section.user-page.new-object
    %h3
      = "New car booking"
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#newBookingHelp'}
        %span.question-mark ?

    %hr

    .booking-note
      %p= "Car: #{car.title}"
      %p= car.electric? ? electric_car_note : non_electric_car_note

    = render 'form', path_for_car_booking: bookings_cars_path

= render 'bookings/modals/new_and_edit_help'
