- poster = @car_booking.user
- car = @car_booking.car
- show_edit_links = @car_booking.show_edit_link_for?(current_user)

.container.lg
  %section.user-page#showBooking
    %h3
      = @car_booking.summary
      - if show_edit_links && !@car_booking.past_booking?
        %span.links
          = link_to '✏️', edit_bookings_car_path(@car_booking), class: 'action-booking'
          = link_to '🗑️', bookings_cancel_car_booking_path(@car_booking), onclick: "return confirm('Are you sure you want to cancel this booking?');", class: 'action-booking bin'

    %hr

    .row
      .col-12
        %span= 'Date and time:'
        = @car_booking.day_time_summary

    .row
      .col-12
        %span= 'Cost of booking:'
        = number_to_currency(@car_booking.cost)

    .row
      .col-12
        %span= 'Driver:'
        = poster.full_name

    .row
      .col-12
        %span= 'Booked car:'
        = car.title

    - if car.electric?
      .row
        .col-12
          %span= 'Expected distance:'
          = @car_booking.expected_distance_mention

      .row
        .col-12
          %span= 'Recommended charging duration:'
          = @car_booking.recommended_charging_duration


    - if @car_booking.note.present?
      .row
        .col-12
          %span= 'Note:'
          = "\"#{@car_booking.note}\""

    - if show_edit_links
      .row
        .col-12
          %p= car.electric? ? electric_car_note : non_electric_car_note

    .row.actions
      .col-12.col-md-6
        = link_to "Show car booking calendar", bookings_cars_path, class: 'btn btn-primary btn-md'

