.container.lg
  %section.user-page.new-object
    %h3
      = "#{@egg_order.delivery_date_label} egg order"

    %hr

    = form_for @egg_order do |f|
      - if @egg_order.errors.any?
        .alert.alert-danger{ role: 'alert' }
          %ul
            - @egg_order.errors.full_messages.each do |message|
              %li= message

      .row
        .col-9.col-md-4
          .form-outline.mb-4
            = f.label :max_boxes, 'Number of boxes available (clear field for no limit)', class: 'form-label required'
            = f.number_field :max_boxes, class: 'form-control form-control-lg'

      .row
        .text-center.text-lg-start.mt-4.pt-2
          = link_to "Cancel", admin_egg_orders_path, class: 'btn btn-secondary'
          = f.submit 'Update egg order', class: 'btn btn-primary btn-md submit-btn', id: 'submitPost'
