- fund = @recipient.fund

Hello #{@recipient.first_name},

Your TVE personal fund has been credited with #{@amount}. Your fund balance is now #{number_to_currency(fund.balance)}.

Check out your TVE funds page: #{funds_url}

Have a good day!
