- fund = @recipient.fund

%h3= "Hello #{@recipient.first_name},"

%p
  - if @sender.present?
    = "#{@sender.first_name} just sent you #{@amount}. Your fund balance is now #{number_to_currency(fund.balance)}."
  - else
    = "Your TVE personal fund has been credited with #{@amount}. Your fund balance is now #{number_to_currency(fund.balance)}."

%p= link_to 'Check out your TVE funds page', funds_url

%p
  = 'Have a good day!'
