.container.lg
  %section.user-page#userSettings
    %h3
      = 'My settings'

    %hr

    = form_tag save_user_settings_path do
      .row.question-group
        .col-12.col-md-9
          %h5 Egg orders
          .question-area
            %p.question Subscribe to the weekly egg order mailing list?
            %p If you do, you'll receive one email a week asking you how many dozen you'd like to get.
            .form-check.mb-3
              = radio_button_tag(:eggs, true, @user_settings.eggs, { class: 'form-check-input' })
              = label_tag(:eggs_true, 'Yes, sign me up.', { class: 'form-check-label', for: 'eggs_true' })

            .form-check.mb-3
              = radio_button_tag(:eggs, false, !@user_settings.eggs, { class: 'form-check-input' })
              = label_tag(:eggs_false, 'No thanks.', { class: 'form-check-label', for: 'eggs_false' })

      .row.question-group
        .col-12.col-md-9
          %h5 Meals
          .question-area
            %p.question Do you want to receive an email each time a new meal is added to the system?

            .form-check.mb-3
              = radio_button_tag(:meals, true, @user_settings.meals, { class: 'form-check-input' })
              = label_tag(:meals_true, 'Yes, I want to receive these emails.', { class: 'form-check-label', for: 'meals_true' })

            .form-check.mb-3
              = radio_button_tag(:meals, false, !@user_settings.meals, { class: 'form-check-input' })
              = label_tag(:meals_false, "No, checking #{link_to 'this calendar', meals_path} is enough for me.".html_safe, { class: 'form-check-label', for: 'meals_false' })

          .question-area
            %p.question As meal lead, how do you want to be reimbursed for your groceries?

            .form-check.mb-3
              = radio_button_tag(:reimburse_to_fund, true, @user_settings.reimburse_to_fund, { class: 'form-check-input' })
              = label_tag(:reimburse_to_fund_true, 'I want to be reimbursed via my TVE personal fund.', { class: 'form-check-label', for: 'reimburse_to_fund_true' })

            .form-check.mb-3
              = radio_button_tag(:reimburse_to_fund, false, !@user_settings.reimburse_to_fund, { class: 'form-check-input' })
              = label_tag(:reimburse_to_fund_false, "I prefer being reimbursed via eTransfer.", { class: 'form-check-label', for: 'reimburse_to_fund_false' })


      .text-center.text-lg-start.mt-3.pt-2
        = submit_tag 'Save', class: 'btn btn-primary btn-md'
