%h3= "Hello #{@recipient.first_name},"

%p= "Your eggs (#{@egg_order.delivery_date_label} order) have now arrived!"

%p= 'Feel free to get them in the blue cooler located inside the Common House, next to the downstairs door.'

%p= 'Enjoy!'
