- link_style = "background: #056839; color: white; text-decoration: none; padding: 10px; border-radius: 0.25rem; margin-right: 25px; margin-top: 15px;"
- egg_order_style = 'height: 60px;'

%h3= "Hello #{@recipient.first_name},"

%p= 'It\'s time to order your eggs for next week! 🥚'

%p{ style: 'margin-bottom: 35px;' }= 'To confirm your order, please click on how many dozens of eggs you would like to purchase, for a given delivery date. If you have enough money in your personal fund, it will be directly debited and you will be all set! Otherwise you will have to eTransfer Becky or pay her with cash.'

- @egg_orders.each do |order|
  .email-order-section
    %p{ style: 'font-weight: bold;' }= "Egg delivery on #{order.delivery_date_label}"

    - if order.max_boxes == 0
      %p{ style: 'margin-bottom: 20px' }= 'Sorry, no egg delivery this time for this day.'
    - else
      - closing_time = order.closing_time.strftime('%A %B %d, %l%P').gsub('  ', ' ')
      - max_boxes = order.max_boxes
      - max_boxes_sentence = max_boxes.present? && max_boxes >= 1 ? "#{order.max_boxes} boxes available for sale." : ''
      %p{ style: 'margin-bottom: 20px;' }= "One dozen is #{number_to_currency(order.price)}. You can order up until #{closing_time}. #{max_boxes_sentence}"

      .egg-order{ style: egg_order_style }
        %a{ style: link_style, href: take_egg_order_url(order_id: order.id, number: 1) }= 'Order 1 dozen'

      .egg-order{ style: egg_order_style }
        %a{ style: link_style, href: take_egg_order_url(order_id: order.id, number: 2) }= 'Order 2 dozen'

      .egg-order{ style: egg_order_style }
        %a{ style: link_style, href: take_egg_order_url(order_id: order.id, number: 3) }= 'Order 3 dozen'

%p{ style: 'margin-top: 30px;' }= 'Have a good day!'
