- content_for :head do
  = javascript_import_module_tag 'meal-portion'

- too_late_to_register = @meal.too_late_to_register?
- field_disabled = (@meal.persisted? && !current_user.admin_for_meal?(@meal)) || too_late_to_register
- household_users = current_user.household&.users

= form_for @meal, html: { id: 'mealForm' } do |f|
  - if @meal.errors.any?
    .alert.alert-danger{ role: 'alert' }
      %ul
        - @meal.errors.full_messages.each do |message|
          %li= message
  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :title, 'Title', class: 'form-label required'
        = f.text_field :title, required: true, class: 'form-control form-control-lg', disabled: field_disabled

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        - if current_user.common_meal_admin?
          = f.label :user_id, 'Meal lead', class: 'form-label required'
          = f.select :user_id, options_from_collection_for_select(User.active.order(:first_name), :id, :full_name, f.object.user_id), {}, { class: 'form-select search-form-field', disabled: too_late_to_register }
        - elsif household_users && household_users.count > 1
          = f.label :user_id, 'Meal lead from your household', class: 'form-label required'
          = f.select :user_id, options_from_collection_for_select(current_user.household.users.order(:first_name), :id, :full_name, f.object.user_id), {}, { class: 'form-select search-form-field', disabled: too_late_to_register }
        - else
          You will be the meal lead for this meal.

  .row
    .col-12.col-md-9
      .form-outline.mb-4
        = f.label :description, 'Description', class: 'form-label required'
        = f.text_area :description, required: true, class: 'form-control', rows: 8, placeholder: 'Enter some information about the meal here, eg. what will be served, if some dishes will include gluten, etc.', disabled: too_late_to_register

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :meal_date, 'Meal date', class: 'form-label required'
        = f.date_field :meal_date, required: true, class: 'form-control form-control-lg', disabled: too_late_to_register

  .row
    .col-12.col-md-4
      .form-outline.mb-4
        = f.label :cost, 'Total cost of the meal', class: 'form-label'
        = f.number_field :cost, step: 0.01, class: 'form-control form-control-lg'
        .form-text
          You can specify the total cost of the meal later (eg. after buying the groceries).

  .meal-section
    %h4 Seating times
    = f.fields_for :meal_seatings do |ms|
      - unless @meal.persisted? && ms.object.meal_time.nil?
        = ms.hidden_field :id
        #mealSeatingContainer
          %fieldset{id: '0'}
            .row
              .col-12.col-md-3
                .form-outline.mb-4
                  = ms.label :meal_time, 'Seating time', class: 'form-label required'
                  = ms.time_field :meal_time, value: ms.object.meal_time&.strftime('%H:%M'), class: 'form-control form-control-md', disabled: too_late_to_register

    - unless too_late_to_register
      %span#addSeating Add a meal seating

  .meal-section
    %h4 Meal portions
    #mealPortionContainer
      = f.fields_for :meal_portions do |mp|
        = mp.hidden_field :id
        - already_picked = mp.object.meal_portion_choices.any?
        %fieldset{id: mp.options[:child_index]}
          .row
            .col-12.col-md-4
              .form-outline.mb-4
                = mp.label :description, 'Description', class: 'form-label required'
                = mp.text_field :description, class: 'form-control form-control-md description', disabled: field_disabled || already_picked

            .col-12.col-md-3
              .form-outline.mb-4
                = mp.label :amount, 'Cost', class: 'form-label required'
                = mp.number_field :amount, value: mp.object.amount || 0.0, step: :any, class: 'form-control form-control-md cost', disabled: field_disabled || already_picked

    - unless field_disabled
      %span#addPortion Add a meal portion

  .text-center.text-lg-start.mt-4.pt-2
    = link_to "Cancel", meals_path, class: 'btn btn-secondary'
    = f.submit "#{@meal.persisted? ? 'Update' : 'Create'} this meal", class: 'btn btn-primary btn-md submit-btn'
