- payment_total = meal_payments.sum(&:amount)
- meal_cost = @meal.cost
- common_meal_transfer = payment_total - meal_cost if meal_cost.present?

.col-12.col-md-6
  %strong 💵 Meal gain/loss
  %table.table.table-sm
    %tbody
      %tr
        %td= 'Meal Revenue'
        %td= number_to_currency(payment_total)
        %td= ''
      %tr
        %td= 'Meal Cost'
        - if meal_cost.nil?
          %td= 'Meal cost still missing'
        - else
          %td= "#{number_to_currency(meal_cost)}"
        %td= ''
    %tfoot
      %tr
        %td{ style: 'min-width: 160px;' }= 'Meal fund gain/loss'
        - if meal_cost.nil?
          %td= 'N/A'
        - else
          %td= number_to_currency(common_meal_transfer)
        %td= ''

