- common_meals_fund = Fund.common_meals.balance
- tve_fund_contributution = @meal.community_fund_contribution
- contribution = tve_fund_contributution ? number_to_currency(tve_fund_contributution.abs) : '--'

.container.lg
  %section.user-page.show-object
    %h3
      = "'#{@meal.title}' - Close meal"
    %hr

    .row
      %h5 Payment summary

      .meal-cost
        - if tve_fund_contributution
          = "Meal total cost: "
          %span.cost= number_to_currency(@meal.cost)
        - else
          .alert.alert-danger{role: 'alert'}
            = "You have not specified the cost of the meal yet. Please #{link_to 'update it now', meal_path(@meal)} before being able to close this meal here.".html_safe

    .row
      .transactions
        %table.table.table-striped
          %thead
            %tr
              %th{scope: 'col'} Attendees
              %th{scope: 'col'} Their payment
          %tbody
            - @meal_payments.each do |payment|
              %tr
                %td= payment.attendees
                %td= number_to_currency(payment.amount)
            %tr
              - if tve_fund_contributution&.positive?
                %td= "TVE community fund to contribute now (current balance: #{number_to_currency(common_meals_fund)})"
                %td= contribution
              - elsif tve_fund_contributution&.negative?
                %td= 'TVE community fund to be credited'
                %td= contribution

    - if tve_fund_contributution && tve_fund_contributution > common_meals_fund
      .row
        .alert.alert-warning{role: 'alert'}
          There is not enough money in the TVE community fund. Please add some more in it before closing this meal.

    .row
      .text-center.text-lg-start.mt-4.pt-2
        = link_to "Confirm and close this meal", confirm_close_meal_path(@meal), class: 'btn btn-primary'
