- content_for :head do
  = javascript_import_module_tag 'meals'
  = javascript_import_module_tag 'fullcalendar.min'

.container.lg
  %section.user-page.booking-page
    %h3
      = 'Meals'

    %hr

    .row
      .col-12
        = link_to 'Organize a new meal', new_meal_path, class: 'btn btn-primary', type: 'button'

    #calendar.calendar-full-navigation
      .spinner-border.text-success{role: 'status'}
        %span.visually-hidden Loading...

= render 'bookings/modals/view_meal'
