- content_for :head do
  = stylesheet_link_tag "print", media: 'print'

- portions = @meal.meal_portions.order(amount: :asc)
- user_portions = @meal.meal_portion_choices_for(current_user)
- num_portions = number_of_portions_for(@meal)
- current_meal_payment = @meal_payments.find_by(household: current_user.household)
- meal_team_members = @meal.meal_team_members
- meal_lead = @meal.meal_lead
- show_household_breakdown = params[:expand] == '1'
- meal_admin = current_user.admin_for_meal?(@meal)
- payment_total = @meal_payments.sum(&:amount)

.container.lg
  %section.user-page.show-object.meal-show
    %h3.meal-title
      = @meal.title
      - if meal_admin
        %span.links
          = link_to '✏️', edit_meal_path(@meal), class: 'action-post', title: 'Update this meal'
          - if current_user.common_meal_admin?
            = link_to '🧾', admin_meal_path(@meal), class: 'action-post action-last', title: 'Admin page for this meal'

    %hr

    .row
      .meal-date
        = "🗓️ #{meal_date_for(@meal)}, at #{meal_times_for(@meal)}"
      .organized-by
        = "Organized by #{@meal.user.full_name}"

    - if meal_admin
      .row.secondary-section
        %span
          %strong= "💵 #{ @meal.too_late_to_register? ? 'Final meal budget' : 'Meal budget (so far)' }:"
          = number_to_currency(payment_total)

    .row.secondary-section
      - if current_meal_payment
        - person_for_message = current_meal_payment.user == current_user ? 'you' : current_meal_payment.user.first_name
        .card.col-12.col-md-8
          .card-body
            - if current_user.meal_v2_enabled?
              - if current_meal_payment.meal_seating_choices.any?
                = "✅ Your household signed up! (#{number_to_currency(current_meal_payment.amount)} paid)"

                %ul
                  - current_meal_payment.meal_seating_choices.order(meal_seating_id: :asc).each do |choice|
                    %li= "#{choice.meal_seating.time_or_take_out_label}: #{choice.attendee_labels.join(', ')}"
                    %ul
                      - choice.meal_portion_choices.each do |pc|
                        %li= "#{pc.meal_portion.description}: #{pc.quantity}"
              - else
                = '💪 No meal sign-up, but your household is part of the meal team.'

              - if current_meal_payment.note.present?
                %ul
                  %li= "\"#{current_meal_payment.note}\""
            - else
              = '✅ Your household signed up for this meal:'

              %ul
                %li= current_meal_payment.seating_or_take_out_label
                - if user_portions.any?
                  %li= user_portions.map { |p| "#{p.meal_portion.description}: #{p.quantity}" }.join(' - ')
                - if current_meal_payment.note.present?
                  %li= "\"#{current_meal_payment.note}\""

            - unless @meal.too_late_to_register?
              %span= link_to 'Update', edit_meal_sign_up_path({id: @meal.id, payment_id: current_meal_payment.id}), { class: 'btn btn-primary btn-sm' }
              %span= link_to 'Cancel', cancel_meal_sign_up_path({id: @meal.id, payment_id: current_meal_payment.id}), { onclick: "return confirm('Are you sure you want to cancel your registration for this meal? By doing so, #{person_for_message} will be reimbursed #{number_to_currency(current_meal_payment.amount)}.')", class: 'btn btn-danger btn-sm' }

      - elsif !@meal.too_late_to_register?
        .meal-sign-up
          = link_to "Sign up for this meal!", meal_sign_up_path(@meal), class: 'btn btn-success btn-md'

    .row
      .meal-description
        = simple_format(@meal.description)

    - if portions.any?
      .row.portions
        %strong 🍴 Meal portions
        %ul
          - portions.each do |p|
            - number_of_portions = num_portions.present? ? num_portions_by_description(portions: num_portions, description: p.description) : 0
            %li= "#{p.description}: #{number_to_currency(p.amount)} - #{number_of_portions} requested."


    .row.attendees
      - if current_user.meal_v2_enabled?
        - meal_seatings = @meal.meal_seatings.joins(:meal_seating_choices).uniq

        - if meal_seatings.empty?
          %p No one has signed up to this meal yet.
        - else
          - meal_seatings.each_with_index do |seating, i|
            %span
              %strong= seating.time_or_take_out_label_with_emoji
              - if i == 0
                %span.breakdown-link
                  = ' - '
                  - if params[:expand] == '1'
                    = link_to 'Hide breakdown per household', meal_path(@meal)
                  - else
                    = link_to 'Show breakdown per household', meal_path(@meal, { expand: 1 })

            - if show_household_breakdown
              - seating.meal_seating_choices.each do |seating_choice|
                %ul
                  %li= "🍴 Portions for #{seating_choice.attendee_labels.join(', ')}"
                  %ul
                    - seating_choice.meal_portion_choices.each do |portion_choice|
                      %li= "#{portion_choice.meal_portion.description}: #{portion_choice.quantity}"
            - else
              %ul
                %li= seating.attendees
                %li 🍴 Portions for this seating:
                %ul
                  - seating.portion_choices_by_portion.each do |portion, portion_choices|
                    %li= "#{portion.description}: #{portion_choices.sum(&:quantity)}"

      - else
        - if @attendees_by_seating.any?
          - @attendees_by_seating.each_with_index do |attendee, i|
            %span
              %strong= attendee[:seating]
              - if i == 0
                %span.breakdown-link
                  = ' - '
                  - if params[:expand] == '1'
                    = link_to 'Hide breakdown per household', meal_path(@meal)
                  - else
                    = link_to 'Show breakdown per household', meal_path(@meal, { expand: 1 })

            - if show_household_breakdown
              - attendee[:households].each do |household|
                %ul
                  %li= "🍴 Portions for #{household[:name]}:"
                  %ul
                    - household[:portions].each do |portion|
                      %li= portion
            - else
              %ul
                %li= attendee[:names]
                %li 🍴 Portions for this seating:
                %ul
                  - num_portions_for_seating_by_portion_type(portions: num_portions, seating: attendee[:meal_time]).sort.each do |portion|
                    %li= portion
        - else
          %p No one has signed up to this meal yet.

    .row.attendees
      %strong 💪 Meal team
      %ul
        - meal_team_members.assigned.order(id: :asc).each do |member|
          %li= "#{member.role}: #{member.user.full_name}"

    - if current_user.common_meal_admin? || meal_lead == current_user
      - payments_with_notes = @meal_payments.where.not(note: nil)
      .row.attendees
        %strong 🗒️ Specific requests/notes
        - if payments_with_notes.none?
          %p= 'None'
        - else
          %ul
            - payments_with_notes.where.not(note: nil).each do |payment|
              %li= "From #{payment.user.first_name}: \"#{payment.note}\""


    %hr

    .row.go-back
      .actions
        = link_to "Back to the common meal calendar", meals_path, class: 'btn btn-primary btn-md'
