%h3= "Hello #{@user.first_name},"

%p= "Thank you for organizing a common meal ('#{@meal.title}'). Hopefully it was a success."

%p= "Let's close this event by making sure that the meal total cost was allocated correctly. Click #{link_to 'on this link', close_meal_url(@meal)} to proceed.".html_safe

%p= 'Thank you and have a good day.'
