Hello #{@user.first_name},

Thank you for organizing a common meal ('#{@meal.title}'). Hopefully it was a success.

Let's close this event by making sure that the meal total cost was allocated correctly. Click on the following link to proceed:

#{close_meal_url(@meal)}

Thank you and have a good day.
