= form_for @room do |f|
  - if @room.errors.any?
    .alert.alert-danger{ role: 'alert' }
      = "Please fix #{pluralize(@car.errors.count, "error")} before saving changes about this room:"
      %ul
        - @room.errors.full_messages.each do |message|
          %li= message
  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :name, 'Room name', class: 'form-label required'
        = f.text_field :name, class: 'form-control form-control-lg'

  .row
    .col-6.col-md-3
      .form-outline.mb-4
        = f.label :calendar_color, 'Calendar color', class: 'form-label required'
        = f.color_field :calendar_color, class: 'form-control form-control-lg'

  .row
    .col-12.col-md-9
      .form-outline.mb-4
        = f.label :description, 'Description', class: 'form-label required'
        = f.text_field :description, class: 'form-control', rows: 8

  .row
    .text-center.text-lg-start.mt-4.pt-2
      = link_to "Cancel", rooms_path, class: 'btn btn-secondary'
      = f.submit "#{@room.persisted? ? 'Update' : 'Register this room'}", class: 'btn btn-primary btn-md submit-btn', id: 'submitPost'
