.container.lg
  %section.user-page.feature-index
    %h3
      = "Rooms at #{Setting.app_name}"

    %hr
      #postList
        - if Room.none?
          %p= 'No room has been added to the system yet.'
        - else
          - @rooms.each do |room|
            .post
              .post-text
                .square-color{ style: "background-color: #{room.calendar_color}"}
                %span.title= link_to room.name, room_path(room), class: 'link'
                %span.room-purpose.badge.rounded-pill.bg-primary= label_for_purpose(room.purpose)
                %br/
                %span= room.description
