.container.lg
  %section.user-page.show-object
    %h3
      .square-color.big{ style: "background-color: #{@room.calendar_color}"}
      = @room.name
      - if current_user.guest_room_coordinator?
        %span.links
          = link_to '✏️', edit_room_path(@room), class: 'action-post'
          -# = link_to '🗑️', room_path(@room), onclick: "return confirm('Are you sure you want to remove this guest room from the system? This will also delete all bookings tied to it permanently!');", class: 'action-post'

    %hr

    .row
      .col-12.col-md-9
        .post-sections
          -# .bookings
          -#   %h5 Related bookings
          -#   %p
          -#     = "- #{last_booking_summary_for(@car)}"
          -#     %br
          -#     = "- #{upcoming_booking_summary_for(@car)}"
          -#   %hr
          .description
            %h5 Description
            = simple_format(@room.description)

          .actions.car-show-buttons
            = link_to "Show list of guest rooms", rooms_path, class: 'btn btn-primary btn-md'
            %br
            = link_to "Show guest room booking calendar", bookings_guests_path, class: 'btn btn-primary btn-md'
