#marketplaceHelpModal.help-modal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'exampleModalLabel', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Marketplace
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        %p This is the Marketplace where you can see what the TVE members have to sell or to give away! Newest posts are shown first in this list. To add your item to this growing list, click on "New post".

        %h5 How to refine your search?

        %p= "When clicking on \"⌨️ Filter\", you will be able to refine your search by entering keyword(s) and/or by selecting the category related to the item(s) that you're looking for. The provided term or expression will be searched in posts' titles and descriptions.".html_safe

        %p= "Once you've refined your search, you'll see a search summary (eg. \"<i>Showing 1 - 10 from 15 Clothing items.</i>\") at the top of the result list, with a red 'X' next to it: click on this icon to remove the filter you selected and to display the full list again.".html_safe

      .modal-footer
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK
