#newPostHelpModal.help-modal.modal.fade{'aria-hidden': 'true', 'aria-labelledby': 'newPostModalLabel', tabindex: '-1'}
  .modal-dialog
    .modal-content
      .modal-header
        %h5#newPostModalLabel.modal-title Create/Edit a post
        %button.btn-close{'aria-label': 'Close', 'data-bs-dismiss': 'modal', type: 'button'}
      .modal-body
        %p
          Fields with
          %span.asterisk*
          are mandatory.
        %h5 Price options
        %ul
          %li
            %span Default price (eg. "$25.00"):
            Select this option to show the price for this item as it is, on the main Marketplace page.
          %li
            %span Price per item (eg. "$6.00 each")
            Select this option to indicate that the price is per item, if you sell many of the same item in your post.

          %li
            %span Price(s) in description:
            Select this option if you prefer having the price breakdown of your items directly detailed in the description of your post.
          %li
            %span Contact seller:
            Select this option if you prefer to communicate the price(s) in person or via email/call/etc.
          %li
            %span Let's negociate!
            Select this option if you're willing to find an arrangement or negociate with the buyer.
          %li
            %span Best offer
            Select this option if you are open to bidding.
          %li
            %span Free!
            Select this option if you just want to give your item(s) away.

        %h5 Item categories

        %p To help you choose the right category for your item(s), here's some details for each of them:
        %ul

          - item_categories.each do |category|
            %li
              %span= "#{category.name}:"
              = category.description

        %h5 Photo upload

        %p You can upload a maximum of 3 photos. Only the following file formats are allowed: jpg, jpeg and png.

      .modal-footer
        %button.btn.btn-primary{'data-bs-dismiss': 'modal', type: 'button'} OK
