%h3
  = "Hey #{@user.first_name},"

%p The following meal lead needs to have groceries reimbursed via etransfer.

%ul
  %li= "Meal lead: #{@meal_lead.full_name} - #{@meal_lead.email}"
  %li= "Related meal: #{link_to @meal.title, meal_url(@meal)}"
  %li= "Amount to reimburse: #{number_to_currency(@meal.cost)}"

%p Please send this amount via eTransfer.

%p Thanks!


