- link_style = "background: #056839; color: white; text-decoration: none; padding: 10px; border-radius: 0.25rem; margin-right: 25px; margin-top: 15px; font-size: 16px;"
- meal_sign_up_style = 'margin: 30px 0px;'

%h3
  = "🍴 New meal: #{@meal.title}"

%p
  = "📅 This will be on #{@meal.meal_date.strftime('%A %B %d')}."

%p= "Your meal lead will be #{@meal.user.full_name}. Here's what's on the menu:"

%div{ style: 'font-style: italic;' }
  = simple_format(@meal.description)

.meal-sign-up{ style: meal_sign_up_style }
  %a{ style: link_style, href: meal_sign_up_url(@meal) }= 'Sign up for this meal'

%p
  = 'Have a good day!'

%p{ style: 'font-size: 14px; color: #777777' }
  = "#{link_to 'Change your settings', user_settings_url } if you don't want to receive emails about new meals.".html_safe
