= form_for @room_booking, url: path_for_room_booking do |f|
  - if @room_booking.errors.any?
    .alert.alert-danger{ role: 'alert' }
      = "Please fix #{pluralize(@room_booking.errors.count, "error")} before saving this guest room booking:"
      %ul
        - @room_booking.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :room_id, { value: guest_room.id }

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :start_date, 'Start date', class: 'form-label required'
        = f.date_field :start_date, class: 'form-control form-control-lg'

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :end_date, 'End date', class: 'form-label required'
        = f.date_field :end_date, class: 'form-control form-control-lg'

  .row
    .col-12.col-md-9
      .form-outline.mb-4
        = f.label :description, 'Notes', class: 'form-label'
        = f.text_area :description, class: 'form-control', rows: 8, placeholder: 'Please write anything you think the community should know about this guest room booking.'

  .row
    .text-center.text-lg-start.mt-4.pt-2
      = link_to "Cancel", bookings_guests_path, class: 'btn btn-secondary'
      = f.submit "#{@room_booking.persisted? ? 'Update' : 'Create'} this booking", class: 'btn btn-primary btn-md submit-btn'

