.container.lg
  %section.user-page.new-object
    %h3
      = "Edit booking at #{guest_room.name}"
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#newBookingHelp'}
        %span.question-mark ?

    %hr
      = render 'form', path_for_room_booking: bookings_guest_path(@room_booking)

= render 'bookings/modals/new_and_edit_help'
