- content_for :head do
  = javascript_import_module_tag 'fullcalendar.min'
  = javascript_import_module_tag 'guest'

.container.lg
  %section.user-page.booking-page#guest-booking{ data: { bookings: @this_month_bookings } }
    %h3
      = 'Book a guest room'
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#guestBookingHelpModal'}
        %span.question-mark ?

    %hr

    .booking-credit
      - number_of_booked_nights = current_user.num_booked_nights
      - today = Date.current
      %span.household-title
        = current_user.household_mention
      %span
        %br
        = booking_credit_left_for(number_of_booked_nights, today.year)
        %br
        = booking_credit_left_for(number_of_booked_nights, today.next_year.year)

    - @guest_rooms.each do |room|
      .bookable-legend
        .square-color{ style: "background-color: #{room.calendar_color}"}
        %span.name
          = room.name
        %span
          = "- #{room.description}"
    .bookable-legend
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#guestBookingHelpModal'}
        %span More details and options about these rooms...

    #scrollToPoint
    .alert.alert-danger#roomErrorMessage{ role: 'alert', style: 'display: none;' }
    #roomBookingForm{ style: 'display: none;' }
      %hr
      %h5 Your new booking
      = form_with url: new_bookings_guest_url, method: :get do |form|
        = form.hidden_field :start_date
        = form.hidden_field :end_date
        .row
          .col-12.col-md-4.room-summary-text
            %span#newRoomBookingSummary
          .col-12.col-md-4
            = form.select :room_id, content_tag(:option, 'Which room are you booking?', value: '') + options_from_collection_for_select(Room.for_guests, :id, :name, nil), {}, { class: 'form-select search-form-field' }
          .col-12.col-md-3
            = form.submit 'Confirm booking', class: 'btn btn-primary submit-btn', id: 'confirmRoomBooking', name: nil

    #calendar
      .spinner-border.text-success{role: 'status'}
        %span.visually-hidden Loading...

= render 'bookings/modals/guest_help'
= render 'bookings/modals/view_guest_booking'
