.container.lg
  %section.user-page.new-object
    %h3
      = "New booking (\"#{guest_room.name}\")"
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#newBookingHelp'}
        %span.question-mark ?

    %hr
      = render 'form', path_for_room_booking: bookings_guests_path

= render 'bookings/modals/new_and_edit_help'
