- poster = @room_booking.user

.container.lg
  %section.user-page#showBooking
    %h3
      = @room_booking.summary
      - if @room_booking.show_edit_link_for?(current_user)
        %span.links
          = link_to '✏️', edit_bookings_guest_path(@room_booking), class: 'action-booking'
          = link_to '🗑️', bookings_cancel_room_booking_path(@room_booking), onclick: "return confirm('Are you sure you want to delete this booking?');", class: 'action-booking bin'

    %hr

    - if @room_booking.payment_required? && @room_booking.user_id == current_user.id
      - payment = @room_booking.room_payment
      .row
        .col-12
          .alert.alert-warning{role: 'alert'}
            = "You need to pay #{number_to_currency(payment.amount)} to confirm this booking. Please talk to the guest room coordinator."

    .row
      .col-12
        %span= 'Start date:'
        = @room_booking.start_date.to_date

    .row
      .col-12
        %span= 'End date:'
        = @room_booking.end_date.to_date

    .row
      .col-12
        %span= 'Host:'
        = poster.household_mention

    .row
      .col-12
        %span= 'Booked guest room:'
        = @room_booking.room.name

    - if @room_booking.description.present?
      .row
        .col-12
          %span= 'Notes:'
          = simple_format @room_booking.description

    .row.actions
      .col-12.col-md-6
        = link_to "Back to the guest room calendar", bookings_guests_path, class: 'btn btn-primary btn-md'
