= form_with url: posts_url, method: :get do |form|
  = form.text_field :search, value: params['search'], class: 'form-control search-form-field', placeholder: 'Enter search keyword'
  = form.select :category, content_tag(:option, 'Filter posts by...', value: '') + options_from_collection_for_select(item_categories, :id, :name, params['category']), {}, { class: 'form-select search-form-field' }
  = form.submit 'Search', class: 'btn btn-primary', name: nil
