= form_for @post, html: { id: 'postForm' } do |f|
  - if @post.errors.any?
    .alert.alert-danger{ role: 'alert' }
      = "Please fix #{pluralize(@post.errors.count, "error")} before saving this post:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :title, 'Title', class: 'form-label required'
        = f.text_field :title, class: 'form-control form-control-lg'

  .row
    .col-12.col-md-9
      .form-outline.mb-4
        = f.label :description, 'Description', class: 'form-label required'
        = f.text_area :description, class: 'form-control', rows: 8

  .row
    .col-8.col-md-4
      .form-outline.mb-4
        = f.label :price, 'Price', class: 'form-label'
        = f.number_field :price, in: 0.0..999999.95, step: 0.05, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), class: 'form-control'

    .col-12.col-md-4
      .form-outline.mb-4
        = f.label :price_option, 'Price options', class: 'form-label required'
        = f.select :price_option, options_from_collection_for_select(price_options, :id, :label, Post.price_options[f.object.price_option]), {}, { class: 'form-select' }

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :item_category_id, 'Category', class: 'form-label required'
        = f.select :item_category_id, options_from_collection_for_select(item_categories, :id, :name, f.object.item_category_id), {}, { class: 'form-select' }

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        - photo_text = @post.photos.count > 0 ? "#{@post.photos.count}/3" : 'max. 3'
        = f.label :photos, "Upload photos (#{photo_text})", class: 'form-label'
        = f.file_field :photos, multiple: true, class: 'form-control'

    - if @post.photos.count > 0 && @post.persisted?
      .col-12.col-md-4.photos-options
        .form-outline.mb-4
          .form-check-inline
            = link_to "Remove all photos", post_remove_photos_path(@post), class: 'btn btn-danger', name: nil

  - if @post.photos
    .row
      .col-12.col-md-6
        .form-outline.mb-4
          - @post.photos.each do |photo|
            = image_tag photo.thumb.url.to_s
            = f.hidden_field :photos, multiple: true, value: photo.identifier

    .text-center.text-lg-start.mt-4.pt-2
      = link_to "Cancel", posts_path, class: 'btn btn-secondary'
      = f.submit "#{@post.persisted? ? 'Update' : 'Create'} this post", class: 'btn btn-primary btn-md submit-btn', id: 'submitPost'
