.container.lg
  %section.user-page.feature-index
    %h3
      = 'Marketplace'
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#marketplaceHelpModal'}
        %span.question-mark ?

    %hr
      .row
        .col-6
          %button.btn.btn-primary{"aria-controls": "collapseFilter", "aria-expanded": "false", "data-bs-target": "#collapseFilter", "data-bs-toggle": "collapse", type: "button"}
            ⌨️ Filter
        .col-6.create-new-post
          = link_to 'New post', new_post_path, class: 'btn btn-primary'

        .collapse#collapseFilter
          .col-12.align-items-center
            = render 'filter_form'

      #postList
        - if Post.none?
          %p= "There is no post at the moment. Feel free to create a new one!"
        - else
          .summary
            = result_summary
            - if params[:category] || params[:search]
              = link_to '❌', posts_path, title: "Remove filters"

          - @posts.each do |post|
            .post
              - if post.photos.present?
                = link_to((image_tag post.photos.first.thumb.url.to_s), post_path(post))
              .post-text
                %span.title= link_to post.title, post_path(post), class: 'link'
                %span.mobile-break
                %span.price= price_option_label_for(post)
                %br
                %span.description= post.item_category.name

          = paginate @posts

= render 'posts/modals/marketplace_help'
