- content_for :head do
  = javascript_import_module_tag 'marketplace'

.container.lg
  %section.user-page.new-object
    %h3
      = 'Marketplace - New post'
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#newPostHelpModal'}
        %span.question-mark ?

    %hr
      = render 'form'

= render 'posts/modals/new_edit_post_help'
