- poster = @post.user

.container.lg
  %section.user-page.show-object
    %h3
      = @post.title
      - if poster == current_user
        %span.links
          = link_to '✏️', edit_post_path(@post), class: 'action-post'
          = link_to '🗑️', post_remove_path(@post), onclick: "return confirm('Are you sure you want to delete this post?');", class: 'action-post'

    %hr

    .row
      %div{ class: col_classes_for_show_post(@post) }
        .post-sections
          .posted-by
            = "Posted by #{poster.full_name} on #{@post.created_at.to_date.to_s} under \"#{@post.item_category.name}\"."

          - unless @post.price_option == 'see_description'
            .price
              = price_option_label_for(@post)

          .description
            = simple_format(@post.description)

          .contact
            = contact_summary_html_for(poster).html_safe
          .actions
            = link_to "Back to Marketplace", posts_path, class: 'btn btn-primary btn-md'

      .col-12.col-md-6.photos
        - @post.photos.each do |photo|
          .item-photo
            = link_to((image_tag photo.url.to_s), photo.url)
