.container.lg
  %section.user-page.show-object.setup-page
    %h3 Admin account

    %hr

    .row
      %p You already created the following admin account:

      %ul
        %li= "Email: #{current_user.email}"
        %li= "First name: #{current_user.first_name}"
        %li= "Last name: #{current_user.last_name}"

      %p Please proceed with the next step.

    .row
      .text-center.text-lg-start.mt-4.pt-2
        = link_to 'Back', setup_app_path, class: "btn btn-secondary"
        = link_to 'Next', setup_allowlist_path, class: 'btn btn-primary'
