.container.lg
  %section.user-page.show-object
    %h3 Creation of the allowlist (eligible emails)

    %hr

    .row
      %p The members of your community can sign up to this website only if they are eligible to do so: their email addresses first need to be added to the website allowlist.

      %p Please enter the email addresses of your community members below to add them to the website allowlist. You don't have to add them all, this is an optional step and you can complete this task later.

      %p (Don't add your email address as you just created your account in the previous step.)

    = form_tag setup_save_allowlist_path do
      .row
        .col-12.col-md-6
          .form-outline.mb-4
            = label_tag :eligibilities, 'List of eligible email addresses', class: 'form-label'
            = text_area_tag :eligibilities, '', { placeholder: 'Please enter only one email address per line', rows: 10, class: 'form-control form-control-md' }

      .row
        .text-center.text-lg-start.mt-4.pt-2
          = link_to 'Back', setup_admin_path, class: 'btn btn-secondary'
          = submit_tag 'Next', class: 'btn btn-primary btn-md submit-btn'
