.container.lg
  %section.user-page.show-object
    %h3 Website name and color

    %hr

    = form_tag setup_save_app_path do
      .row
        .col-12.col-md-6
          .form-outline.mb-4
            = label_tag :name, 'Website name (short)', class: 'form-label'
            = text_field_tag :name, Setting.app_name, { class: 'form-control form-control-md' }

      .row
        .col-12.col-md-4
          .form-outline.mb-4
            = label_tag :color, 'Main color of the website', class: 'form-label'
            = color_field_tag :color, Setting.app_color, { class: 'form-control form-control-lg' }

      .row
        .text-center.text-lg-start.mt-4.pt-2
          = link_to 'Back', setup_welcome_path, class: 'btn btn-secondary'
          = submit_tag 'Next', class: 'btn btn-primary btn-md submit-btn'
