.container.lg
  %section.user-page.show-object
    %h3 You're good to go!

    %hr

    .row
      %p You're now done with setting up your Treehouse website.

      %p Enjoy!

    = form_tag setup_save_done_path do
      .row
        .text-center.text-lg-start.mt-4.pt-2
          = link_to 'Back', setup_allowlist_path, class: 'btn btn-secondary'
          = submit_tag 'Go to your home page', class: 'btn btn-primary'
