.container.lg
  %section.user-page.show-object
    %h3 Hello!

    %hr

    .row
      %p Welcome to your Treehouse website!

      %p Before you get to use its different features, there are a couple of things to set up first. This should take only a few minutes.

      %p Click on 'Next' when you are ready.

    .row
      .text-center.text-lg-start.mt-4.pt-2
        = link_to 'Next', setup_app_path, class: 'btn btn-primary'
