- active_fund_count = current_user.funds.active.count
- personal_recipient_list = active_fund_count > 1 ? Fund.personal.order(:name) : Fund.personal.where.not(user: current_user).order(:name)

.container.lg
  %section.user-page.show-object.fund-transactions
    %h3
      Send money
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#fundHelpModal'}
        %span.question-mark ?

    %hr
      .row
        .balance.your
          = "Your current balance: #{number_to_currency(@fund.balance)}"
          %span.send-money-link
            %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#fundHelpModal'}
              How to add money?

    = form_for @transfer do |f|
      .row
        .col-12.col-md-6
          .form-outline.mb-4
            = f.label :amount, 'Amount to send', class: 'form-label required'
            = f.number_field :amount, min: 0.01, step: 0.01, class: 'form-control form-control-md'

      - if active_fund_count > 1
        .row
          .col-12.col-md-6
            .form-outline.mb-4
              = f.label :sender_id, 'Sender (your personal fund or a community fund you created)', class: 'form-label required'
              = f.select :sender_id, content_tag(:option, 'Your personal fund', value: current_user.fund.id) + options_from_collection_for_select(Fund.community.active.where(user: current_user).order(:name), :id, :community_display_name_with_balance, nil), {}, { class: 'form-select search-form-field' }

      .row
        .col-12.col-md-6
          .form-outline.mb-4
            = f.label :recipient_id, 'Recipient (a community fund or a member)', class: 'form-label required'
            = f.select :recipient_id, options_from_collection_for_select(Fund.community.active.order(:name), :id, :community_display_name, nil) + options_from_collection_for_select(personal_recipient_list, :id, :name, nil), {}, { class: 'form-select search-form-field' }

      .row
        .col-12.col-md-6
          .form-outline.mb-4
            = f.label :recipient_description, 'Note', class: 'form-label'
            = f.text_field :recipient_description, class: 'form-control form-control-md', placeholder: 'optional'

      .text-center.text-lg-start.mt-4.pt-2
        = link_to "Cancel", root_path, class: 'btn btn-secondary'
        = f.submit "Send", class: 'btn btn-primary btn-md submit-btn', data: { confirm: "Are you sure you want to send this amount?" }

= render 'bookings/modals/send_money_help'
