.navbar, .footer, .secondary-section, .meal-description, .organized-by, .go-back {
  display: none;
}

.container {
  margin: 5px;
}

.meal-show {
  .meal-title{
    margin: 5px;
    .links {
      display: none;
    }
  }

  .breakdown-link {
    display: none;
  }
  li, p {
    font-size: 14px;
  }

  hr {
    margin: 0px;
  }
}

