$guest-room-one: #cc0000;
$guest-room-two: #2e2eb8;

:root {
  --primary: #056839;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

main {
  margin-bottom: 120px;
}

.container {
  &.lg {
    max-width: 960px;
  }
  &.xl {
    max-width: 1140px;
  }
}

.navbar {
  &.bg-green {
    background-color: var(--primary) !important;
  }

  .container {
    max-width: 1320px;

    .navbar-brand {
      color: #fff;
      margin-right: 2rem;

      &#maintenanceOn {
        background: red;
        border-radius: 14px;
        padding: 5px 10px;
      }
    }

    .right-menu {
      .navbar-nav {
        @media only screen and (max-width: 767px) {
          width: 100%;
        }
      }
    }

    .nav-item {
      padding: 0px 5px;

      .nav-link {
        color: #fff !important;
      }

      &.dropdown {
        ul {
          border: 1px solid gray;

          span {
            &.email {
              color: gray;
              pointer-events: none;
            }
          }
        }
      }
      #maintenanceOn {
        background: red;
        border-radius: 14px;
        font-weight: bold;
      }
    }
  }
}

.devise-page {
  margin: 20px 0px;
  .treehouse-image {
    padding-bottom: 35px;
  }

  .page-title {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

.user-page {
  hr {
    margin-bottom: 35px;
  }
  .link {
    text-decoration: none;
  }
  .link:hover {
    text-decoration: underline;
  }

  padding-top: 20px;

  .question-mark {
    float: right;
    color: #a9a9a9;
  }

  form {
    .required:after {
      content: " *";
      color: red;
    }
    .submit-btn {
      margin-left: 10px;
    }
  }

  &.booking-page {
    margin-bottom: 50px;

    .booking-credit {
      border: 1px solid lightgray;
      padding: 10px;

      .household-title {
        font-weight: bold;
      }
    }

    @media only screen and (min-width: 768px) {
      .booking-credit {
        float: right;
      }
    }

    .bookable-legend {
      margin: 15px 0px 15px 0px;
      font-size: 17px;

      span.name {
        font-weight: bold;
      }
    }

    #carErrorMessage {
      margin: 30px 0px 15px 0px;
    }

    #carBookingForm {
      margin: 30px 0px 15px 0px;
      .car-summary-text {
        padding-top: 6px;
      }

      @media only screen and (max-width: 767px) {
        #car_id, #confirmCarBooking {
          margin: 15px 0px;
        }
      }
    }

    #roomBookingForm {
      hr {
        margin-top: 45px;
      }

      .room-summary-text {
        padding-top: 6px;
      }

      #room_id, #confirmRoomBooking {
        @media only screen and (max-width: 767px) {
          margin: 15px 0px;
        }
      }
    }
    #roomErrorMessage {
      margin-top: 35px;
    }
  }

  .color-room {
    &.guestroomone {
      color: $guest-room-one;
    }
    &.guestroomtwo {
      color: $guest-room-two;
    }
  }


  #listCars, #listAreas {
    .btn-primary {
      background-color: var(--primary);
      border-color: #a9a9a9;
    }
  }

  #calendar {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    .btn-primary {
      background-color: var(--primary);
      border-color: #a9a9a9;
    }
    .spinner-border {
      margin-top: 80px;
    }
    h2 {
      font-size: 1.5rem;
    }

    .fc-prev-button:after {
      content: '<'
    }

    .fc-next-button:after {
      content: '>'
    }

    &.calendar-full-navigation {
      @media only screen and (max-width: 767px) {
        .fc-header-toolbar {
          display: block;

          .btn-group {
            margin: 25px 0px;
          }
        }
      }
      .fc-timegrid-event-harness {
        width: auto;
        max-width: 40%;
      }
    }
  }

  &.event-lists {
    .sub-section{
      margin: 30px 0px 45px 0px;
      .event {
        margin-top: 20px;
        .event-summary {
          font-size: 17px;
          font-weight: bold;
        }
        .details {
          font-style: italic;
          margin-bottom: 5px;
          .btn {
            font-style: normal;
            margin-right: 10px;
          }
        }
      }

      tfoot {
        font-weight: bold;
      }

      .delivery-section {
        margin-bottom: 35px;
        .number-boxes {
          margin-bottom: 15px;

          .update-num-btn {
            margin-left: 10px;
          }
        }
      }
    }
  }

  &.new-object {
    .price-options {
      margin-top: 35px;
      @media only screen and (max-width: 767px) {
        margin-top: 0px;
      }
    }
    .photos-options {
      margin-top: 32px;
      @media only screen and (max-width: 767px) {
        margin-top: 0px;
      }
    }
    .booking-note {
      margin-bottom: 35px;
    }

    #addPortion, #addSeating {
      cursor: pointer;
      color: var(--primary);
      text-decoration: underline;
    }

    .meal-section {
      margin-bottom: 25px;
    }

    .meal-question {
      font-weight: bold;
    }

    .meal-date {
      margin-bottom: 1.5rem;
    }
    .choice-label, .choice-quantity {
      display: inline-block;
      margin-bottom: 10px;
    }

    .seating-section {
      margin-bottom: 20px;
    }

  }

  &#editProfile {
    .small-label {
      font-size: 12px;
      font-style: italic;
    }
  }

  &.show-object, &.admin-screen {
    .links {
      float: right;

      @media only screen and (max-width: 767px){
        float: none;
        display: block;
        margin-top: 10px;
      }
      .action-post {
        padding-top: 7px;
        font-size: 22px;
        text-decoration: none;

        @media only screen and (max-width: 767px){
          margin-right: 10px;
          font-size: 25px;
        }

        &.action-last {
          margin-right: 10px;
        }
      }

      .close-fund {
        margin-left: 15px
      }
    }
    .row {
      margin-top: 20px;
      .post-sections {
        div {
          margin: 10px 0px 50px 0px;
        }
        .posted-by, .contact {
          font-style: italic;
        }
        .price {
          font-size: 24px;
          font-weight: bold;
        }
        .car-show-buttons {
          a {
            margin-bottom: 15px;
          }
        }
      }

      .meal-date {
        font-size: 18px;
        font-weight: bold;
      }
      .organized-by {
        font-style: italic;
      }
      .secondary-section{
        margin: 30px 0px 10px 0px;
      }

      .meal-description {
        margin: 20px 0px;
      }
    }
    .photos {
      text-align: right;
      .item-photo {
        margin: 8px 0px 40px 0px;

        img {
          width: 400px;
          @media only screen and (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }

    &.fund-transactions {
      .balance.your {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;

        .send-money-link {
          font-size: 16px;
          font-weight: normal;
          margin-left: 10px;
          @media only screen and (max-width: 767px){
            margin-left: 0px;
            display: block;
          }
        }
      }

      .new-fund {
        float: right;
      }

      .transaction-section {
        margin-top: 30px;

        #myTransactions {
          &.nav {
            padding-left: 1rem;
            margin: 0.5rem 0rem;
          }
          .archived-fund {
            color: gray;
            &.active {
              color: white;
            }
          }
        }

        #transactionContent {
          .no-transaction {
            margin-top: 1rem;
          }
        }
      }
    }
    .portions, .attendees, .statements-list {
      ul {
        padding-left: 1.75rem;
      }
    }
    .statements {
      h5 {
        margin: 20px 0px;
      }
    }

    .meal-cost {
      .cost {
        font-weight: bold;
      }
    }
  }

  &.feature-index {
    #collapseFilter {
      margin-top: 25px;
      form {
        @media only screen and (max-width: 767px){
          text-align: center;
        }
        .search-form-field {
          max-width: 250px;
          float: left;
          margin-right: 15px;
          @media only screen and (max-width: 767px){
            max-width: none;
            margin-bottom: 20px;
          }
        }
      }
    }
    .create-new-post {
      a {
        float: right;
      }
    }

    .room-purpose {
      margin-left: 10px;
    }
  }

  #postList {
    margin-top: 45px;
    .summary {
      font-style: italic;
      a {
        margin-left: 10px;
        font-style: normal;
        text-decoration: none;
      }
    }
    .pagination {
      justify-content: center;
      margin-top: 40px;
      ul {
        li {
          a {
            color: var(--primary);
            border: none;
            @media only screen and (max-width: 767px){
              padding: 0.375rem 1rem;
            }
          }
          &.active {
            a {
              background-color: var(--primary);
              border: none;
              color: white;
            }
          }
        }
      }
    }
    .post {
      margin: 25px 0px;
      display: flex;
      img {
        margin-right: 15px;
        width: 75px;
      }
      .post-text {
        width: 100%;
        display: inline-block;
        margin-top: 12px;
        @media only screen and (max-width: 767px){
          margin-top: 0px;
        }
        .title {
          font-size: 18px;
          font-weight: bold;
          @media only screen and (max-width: 767px) {
            font-size: 16px;
          }
        }
        .mobile-break {
          display: none;
          @media only screen and (max-width: 767px) {
            display: block;
          }
        }
        .description {
          font-style: italic;
        }
        .price {
          float: right;
          font-size: 18px;
          font-weight: bold;
          @media only screen and (max-width: 767px) {
            float: none;
            font-size: 16px;
          }
        }
      }
    }
  }

  &#showBooking {
    .links {
      float: right;

      @media only screen and (max-width: 767px){
        float: none;
        display: block;
        margin-top: 10px;
      }
      .action-booking {
        padding-top: 7px;
        font-size: 22px;
        text-decoration: none;
        &.bin {
          margin-left: 10px;
        }
      }
    }
    .row {
      margin-bottom: 15px;
      span {
        font-weight: bold;
        &.end-date {
          margin-left: 15px;
        }
      }
      &.actions {
        margin-top: 30px;
      }
    }
  }

  &.useful-links {
    .description {
      margin-bottom: 20px;
    }

    ul {
      li {
        margin-bottom: 15px;
      }
    }
  }
  &#userSettings, &.admin-screen {
    .question-group {
      margin-bottom: 30px;
    }
    .question-area {
      margin-bottom: 25px;
    }

    .question {
      font-weight: bold;
    }
  }

  .square-color {
    height: 21px;
    width: 21px;
    float: left;
    margin-right: 10px;
    border-radius: 4px;

    &.big {
      height: 28px;
      width: 28px;
    }
  }

  &.setup-page {
    ul {
      li {
        list-style-type: none;
      }
    }
  }
}

.help-modal {
  .asterisk {
    color: red;
  }

  .small-header {
    margin: 10px 0px 15px 0px;
  }

  .modal-body ul li span {
    font-weight: bold;
  }
}

#viewBookingModal, #viewCarBookingModal, #viewMealModal {
  .modal-body {
    #viewRoomNotes, #viewCarNotes, #viewAreaNotes, #viewMealNotes {
      font-style: italic;
      white-space: pre-line;
    }
    #viewAttendees {
      white-space: pre-line;
    }
    #viewAlreadySignedUp {
      padding-bottom: 1rem;
    }
    ul {
      li {
        list-style-type: none;
      }
    }
  }
}

#fundHelpModal {
  .etransfer-email {
    font-weight: bold;
    text-align: center;
  }
}

.footer {
  .link {
    color: black;
    text-decoration: none;
  }
  .link:hover {
    text-decoration: underline;
  }
  .link-group {
    @media only screen and (max-width: 767px) {
      margin-top: 15px;
    }
    h5 {
      font-size: 1rem;
      font-weight: bold;
        @media only screen and (max-width: 767px) {
          margin-bottom: 0.75rem;
        }
    }
    ul {
      font-size: 0.90rem;
      li {
        margin-bottom: 0.25rem;
        @media only screen and (max-width: 767px) {
          margin-bottom: 0.75rem;
        }
      }
    }
  }
}
