= form_for @car, html: { id: 'carForm' } do |f|
  - if @car.errors.any?
    .alert.alert-danger{ role: 'alert' }
      %ul
        - @car.errors.full_messages.each do |message|
          %li= message
  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :title, 'Title', class: 'form-label required'
        = f.text_field :title, class: 'form-control form-control-lg'

  .row
    .col-6.col-md-3
      .form-outline.mb-4
        = f.label :calendar_color, 'Calendar color', class: 'form-label required'
        = f.color_field :calendar_color, class: 'form-control form-control-lg'

  .row
    .col-12.col-md-9
      .form-outline.mb-4
        = f.label :description, 'Description', class: 'form-label required'
        = f.text_area :description, class: 'form-control', rows: 8, placeholder: 'Enter car specs, features and other details here'

  .row
    .col-12.col-md-4
      .form-outline.mb-4
        = f.label :user_id, 'Select owner (if any)', class: 'form-label'
        = f.select :user_id, content_tag(:option, 'No owner for this car', value: '') + options_from_collection_for_select(User.active.order(:first_name), :id, :full_name, f.object.user_id), {}, { class: 'form-select search-form-field' }

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :electric, 'Check box if this is an electric car:', class: 'form-check-label'
        = f.check_box :electric, class: 'form-check-input'
  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :odometer, 'Odometer (in kms)', class: 'form-label required'
        = f.number_field :odometer, class: 'form-control form-control-lg'

  .row
    .col-12.col-md-6
      .form-outline.mb-4
        - photo_text = @car.photos.count > 0 ? "#{@car.photos.count}/3" : 'max. 3'
        = f.label :photos, "Upload photos (#{photo_text}) - jpg, jpeg or png", class: 'form-label'
        = f.file_field :photos, multiple: true, class: 'form-control'

    - if @car.photos.count > 0 && @car.persisted?
      .col-12.col-md-4.photos-options
        .form-outline.mb-4
          .form-check-inline
            -# = link_to "Remove all photos", post_remove_car_path(@car), class: 'btn btn-danger', name: nil
            = link_to "Remove all photos", '#', class: 'btn btn-danger', name: nil

  - if @car.photos
    .row
      .col-12.col-md-6
        .form-outline.mb-4
          - @car.photos.each do |photo|
            = image_tag photo.thumb.url.to_s
            = f.hidden_field :photos, multiple: true, value: photo.identifier


  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :documents, "Upload car documents - pdf only", class: 'form-label'
        = f.file_field :documents, multiple: true, class: 'form-control'

    - if @car.documents.count > 0 && @car.persisted?
      .col-12
        .form-outline.mb-4
          .form-check-inline
            - @car.documents.each_with_index do |document, index| #grab the index
              %div
                = link_to document.identifier, document.url
                -# = link_to "Delete", car_document_path(@car, index), method: :delete, data: { confirm: 'Are you sure you want to delete this document?' }


    .text-center.text-lg-start.mt-4.pt-2
      = link_to "Cancel", cars_path, class: 'btn btn-secondary'
      = f.submit "#{@car.persisted? ? 'Update' : 'Add this new car'}", class: 'btn btn-primary btn-md submit-btn', id: 'submitPost'
