.container.lg
  %section.user-page.feature-index
    %h3
      = "Cars at #{Setting.app_name}"

    %hr
      - if current_user.car_admin?
        .row
          .col-9
            = link_to 'Add a new car', new_car_path, class: 'btn btn-primary'

      #postList
        - if Car.none?
          %p= 'No car has been added to the system yet.'
        - else

          - @cars.each do |car|
            .post
              - if car.photos.present?
                = link_to((image_tag car.photos.first.thumb.url.to_s), car_path(car))
              .post-text
                .square-color{ style: "background-color: #{car.calendar_color}"}
                %span.title= link_to car.title, car_path(car), class: 'link'
                - if car.electric?
                  %span.bolt ⚡
