- car_owner =  car.owner
- owning_car = car_owner == current_user

.container.lg
  %section.user-page.show-object
    %h3
      .square-color.big{ style: "background-color: #{@car.calendar_color}"}
      = @car.title
      - if @car.electric?
        %span.bolt ⚡
      - if current_user.car_admin? || owning_car
        %span.links
          = link_to '✏️', edit_car_path(@car), class: 'action-post'
          = link_to '🗑️', car_remove_path(@car), onclick: "return confirm('Are you sure you want to remove this car? This will also delete all bookings tied to it permanently!');", class: 'action-post'

    %hr

    - if car_owner.present?
      .row
        - if owning_car
          .alert.alert-primary{ role: 'alert' }
            You own this car.
        - else
          .description
            = "This car is owned by #{car_owner.full_name}"

    .row
      %div{ class: col_classes_for_show_post(@car) }
        .post-sections
          .bookings
            %h5 Related bookings
            %p
              = "- #{last_booking_summary_for(@car)}"
              %br
              = "- #{upcoming_booking_summary_for(@car)}"
            %hr
          .description
            = simple_format(@car.description)
          - if @car.documents.any?
            .section
              Car documentation:
              %ul
                - @car.documents.each do |document|
                  %li= link_to document.identifier, document.url

          .actions.car-show-buttons
            = link_to "Show list of cars", cars_path, class: 'btn btn-primary btn-md'
            %br
            = link_to "Show car booking calendar", bookings_cars_path, class: 'btn btn-primary btn-md'

      .col-12.col-md-6.photos
        - @car.photos.each do |photo|
          .item-photo
            = link_to((image_tag photo.url.to_s), photo.url)

