- content_for :head do
  = javascript_import_module_tag 'meal-payment'

- household_members = current_user.household_members
- user_members = current_user.household.users
- max_portions = user_members.count + 3
- spots_left_by_seating_time = @meal.spots_left_by_seating_time

.container.lg
  - if @errors.present?
    .alert.alert-dismissible.alert-danger{role: 'danger'}
      %ul
        - @errors.each do |message|
          %li= message
  %section.user-page.new-object
    %h3= title
    %hr
      = form_tag submit_path, { id: 'newMealPaymentForm' } do
        .row
          .meal-date
            = "🗓️ #{meal_date_for(@meal)}"
        .row
          .col-12.col-md-9
            .form-outline.mb-4
              %p.meal-question= 'Who is coming to this meal?'
              - household_members.each do |person|
                - check_id = person.first_name.gsub(' ','')
                .form-check
                  = check_box_tag 'people[]', person.first_name, @attendees&.include?(person), { class: 'form-check-input', id: check_id }
                  = label_tag 'people[]', person.first_name, { class: 'form-check-label', for: check_id }
              .row
                .col-12.col-md-5
                  = label_tag :guests, 'How many additional people (guests)?', { class: 'col-form-label', for: 'inputGuests' }
                .col-6.col-md-2
                  = number_field_tag :guests, @meal_payment.guests, { class: 'form-control' , id: 'inputGuests', min: 0}

        .row
          .col-12.col-md-6
            .form-outline.mb-4
              = label_tag :choice, 'Which seating will you be going to?', class: 'form-label required meal-question'
              - @meal.meal_seatings_for(current_user).each_with_index do |seating, i|
                .form-check
                  - checked = @meal_payment.persisted? ? @meal_payment.meal_seating == seating : i == 0
                  = radio_button_tag(:seating, seating.id, checked, { class: 'form-check-input seating-radio' })
                  = label_tag("seating_#{seating.id}".to_sym, "#{seating.meal_time.strftime('%I.%M %P')} (#{pluralize(spots_left_by_seating_time[seating.meal_time.to_s], 'spot')} left)", { class: 'form-check-label', for: "seating_#{seating.id}" })
              .form-check.mt-3
                = check_box_tag 'take_out', 'yes', @meal_payment.take_out, { class: 'form-check-input' }
                = label_tag 'take_out', "Take-out", { class: 'form-check-label' }

        .row
          .col-12.col-md-8
            .form-outline.mb-4
              = label_tag :choice, 'What portion will you be getting?', class: 'form-label required meal-question'
              - @meal.meal_portions.order(amount: :asc).each do |portion|
                .choice
                  .col-12.col-sm-6.col-md-4.choice-label
                    .label= "#{portion.description} (#{number_to_currency(portion.amount)})"
                  .col-12.col-sm-4.col-md-2.choice-quantity
                    = select_tag "choices[#{portion.id}]", options_for_select(0..max_portions, portion_choices[portion.id]), { class: 'form-select' }

        .row
          .col-12.col-md-8
            .form-outline.mb-4
              %p.meal-question= 'How would you like to help?'
              - user_members.each do |user_member|
                - unassigned_roles = @meal.meal_team_members.unassigned_and_self(user_member)
                - selected_role = @meal.meal_team_members.find_by(user_id: user_member.id)
                - role_list = content_tag(:option, '---', value: '') + options_from_collection_for_select(unassigned_roles, :id, :role, selected_role&.id)

                .col-12.col-sm-6.col-md-4.choice-label
                  .label= "For #{user_member.first_name}"
                .col-12.col-md-6.choice-quantity
                  = select_tag "roles[#{user_member.id}]", role_list, { class: 'form-select', disabled: selected_role&.role == 'Meal lead' }

        .row
          .col-12.col-md-9
            .form-outline.mb-4
              %span Current meal team:
              %ul
                - @meal.meal_team_members.includes(:user).assigned.order(id: :asc).each do |m|
                  %li= "#{m.role}: #{m.user.full_name}"

        .row
          .col-12.col-md-9
            .form-outline.mb-4
              %p.meal-question= 'Anything specific you want to ask the meal team?'
              = text_field_tag :note, @meal_payment.note, { placeholder: 'Type any request here', class: 'form-control form-control-md' }

          .text-center.text-lg-start.mt-4.pt-2
            - button_text = @meal_payment.persisted? ? 'Update' : 'Sign-up'
            = link_to "Cancel", meals_path, class: 'btn btn-secondary'
            = submit_tag button_text, class: 'btn btn-primary btn-md submit-btn'

