- content_for :head do
  = javascript_import_module_tag 'meal-payment-v2'

- user_members = current_user.household.users
- max_portions = user_members.count + 3

.container.lg
  - if @errors.present?
    .alert.alert-dismissible.alert-danger{role: 'danger'}
      %ul
        - @errors.each do |message|
          %li= message

  %section.user-page.new-object
    %h3= title
    %hr
      = form_tag submit_path, { id: 'newMealPaymentForm' } do
        .row
          .meal-date
            = "🗓️ #{meal_date_for(@meal)}"

        .row
          .col-12.col-md-6
            .form-outline.mb-4
              = label_tag :choice, 'Which seating will you be going to?', class: 'form-label required meal-question'
              - @meal.meal_seatings.each do |seating|
                .form-check
                  - checked = @registration_data.chosen_seating_ids.include?(seating.id)
                  = check_box_tag 'seatings[]', seating.id, checked, { class: 'form-check-input seating-checkbox', id: "seating_#{seating.id}" }
                  = label_tag("seating_#{seating.id}".to_sym, "#{seating.time_or_take_out_label} #{spots_left_for(seating)}", { class: 'form-check-label', for: "seating_#{seating.id}" })

        - @meal.meal_seatings.each do |seating|
          = render 'seating_section', max_portions: max_portions, portion_choices: portion_choices, seating: seating

        .row
          .col-12.col-md-8
            .form-outline.mb-4
              %p.meal-question= 'How would you like to help?'
              - meal_lead = @meal.meal_lead

              - user_members.each do |user_member|
                - unassigned_roles = @meal.meal_team_members.unassigned_and_self(user_member)
                - selected_roles = @registration_data.roles_for_users
                - selected_role = MealTeamMember.find_by(id: selected_roles[user_member.id.to_s].to_i)
                - role_list = content_tag(:option, '---', value: '') + options_from_collection_for_select(unassigned_roles, :id, :role, selected_role&.id)

                .col-12.col-sm-6.col-md-4.choice-label
                  .label= "For #{user_member.first_name}"
                .col-12.col-md-6.choice-quantity
                  = select_tag "roles[#{user_member.id}]", role_list, { class: 'form-select', disabled: meal_lead == user_member }

        .row
          .col-12.col-md-9
            .form-outline.mb-4
              %span Current meal team:
              %ul
                - @meal.meal_team_members.includes(:user).assigned.order(id: :asc).each do |m|
                  %li= "#{m.role}: #{m.user.full_name}"

        .row
          .col-12.col-md-9
            .form-outline.mb-4
              %p.meal-question= 'Anything specific you want to ask the meal team?'
              = text_field_tag :note, @registration_data.note, { placeholder: 'Type any request here', class: 'form-control form-control-md' }

          .text-center.text-lg-start.mt-4.pt-2
            - button_text = @meal_payment.persisted? ? 'Update' : 'Sign-up'
            = link_to "Cancel", meals_path, class: 'btn btn-secondary'
            = submit_tag button_text, class: 'btn btn-primary btn-md submit-btn'

