- heading = seating.take_out? ? '🏃 Take-out' : "🍽️ #{seating.meal_time.strftime('%I.%M %P')} seating"
- title_coming = seating.take_out? ? 'Who is getting take-out?' : 'Who is coming at this seating?'
- seating_id = "seatingsection_#{seating.id}"

.card.seating-section{ id: seating_id, style: 'display: none' }
  .card-body
    %h5= heading

    .row
      .col-12.col-md-9
        .form-outline.mb-4
          %p.meal-question= title_coming
          - current_user.household_members.each do |person|
            - check_id = "#{seating_id} #{person.first_name.gsub(' ','')}"
            .form-check
              = check_box_tag "people[#{seating.id}][]", person.first_name, @registration_data.people_first_name_for_seating(seating).include?(person.first_name), { class: 'form-check-input', id: check_id }
              = label_tag "people[#{seating.id}][]", person.first_name, { class: 'form-check-label', for: check_id }
          .row
            .col-12.col-md-6
              = label_tag :guests, 'How many additional people (guests)?', { class: 'col-form-label', for: 'inputGuests' }
            .col-6.col-md-2
              = number_field_tag "guests[#{seating.id}]", @registration_data.number_of_guests_for_seating(seating), { class: 'form-control' , id: 'inputGuests', min: 0}

    .row
      .col-12.col-md-8
        .form-outline.mb-4
          = label_tag :choice, 'How many portion will you be getting?', class: 'form-label required meal-question'
          - @meal.meal_portions.order(amount: :asc).each do |portion|
            .choice
              .col-12.col-sm-6.col-md-4.choice-label
                .label= "#{portion.description} (#{number_to_currency(portion.amount)})"
              .col-12.col-sm-4.col-md-2.choice-quantity
                = select_tag "choices[#{seating.id}][#{portion.id}]", options_for_select(0..max_portions, @registration_data.number_of_portions(seating: seating, portion: portion)), { class: 'form-select' }

