- form_to_use = current_user.meal_v2_enabled? ? 'form_v2' : 'form'

= render partial: form_to_use, locals: { title: "Update your registration to \"#{@meal.title}\"", portion_choices: @portion_choices, submit_path: update_meal_sign_up_path({ payment_id: @meal_payment.id }) }
