- form_to_use = current_user.meal_v2_enabled? ? 'form_v2' : 'form'

= render partial: form_to_use, locals: { title: "Sign up to \"#{@meal.title}\"", portion_choices: {}, submit_path: create_meal_sign_up_path }
