= form_for @fund do |f|
  - if @fund.errors.any?
    .alert.alert-danger{ role: 'alert' }
      %ul
        - @fund.errors.full_messages.each do |message|
          %li= message
  .row
    .col-12.col-md-6
      .form-outline.mb-4
        = f.label :name, 'Name of the fund', class: 'form-label required'
        = f.text_field :name, class: 'form-control form-control-lg', required: true

  .row
    .col-12.col-md-9
      .form-outline.mb-4
        = f.label :description, 'Description of the fund', class: 'form-label'
        = f.text_area :description, class: 'form-control', rows: 8, placeholder: 'Write the purpose of this new fund here'

    .text-center.text-lg-start.mt-4.pt-2
      = link_to "Cancel", funds_path, class: 'btn btn-secondary'
      = f.submit "#{@fund.persisted? ? 'Update' : 'Create'}", class: 'btn btn-primary btn-md submit-btn', id: 'submitPost'
