- transactions = Kaminari.paginate_array(fund.transaction_presenters).page(@page_number).per(25)

- if transactions.empty?
  %p.no-transaction
    No transfer was initiated from/to this fund yet.
- else
  %table.table.table-striped
    %thead
      %tr
        %th{scope: 'col'} Date
        %th{scope: 'col'} Object
        %th{scope: 'col'} Amount
        %th{scope: 'col'} New Balance
    %tbody
      - if fund.archived?
        %tr
          %td{ colspan: 4, style: 'text-align: center' }= '-- This fund is now closed --'
      - transactions.each do |transaction|
        %tr
          %td= transaction[:date]
          %td= transaction[:description]
          %td{style: 'min-width: 110px'}= "#{transaction[:plus_or_minus]} #{number_to_currency(transaction[:amount])}"
          %td= "#{number_to_currency(transaction[:new_balance])}"

  = paginate transactions
