.container.lg
  %section.user-page.show-object.fund-transactions
    %h3
      Funds and transactions
      %a{href: '#', 'data-bs-toggle': 'modal', 'data-bs-target': '#fundHelpModal'}
        %span.question-mark ?

    %hr
    .row
      .col-12.col-md-6
        .balance.your
          = "Your current balance: #{number_to_currency(@fund.balance)}"
          %span.send-money-link
            = link_to 'Send money', send_money_path

    .row
      .col-12.col-md-8
        .balance
          %table.table.table-md
            %thead
              %th{colspan: 2}
                %span Fund summary
                = link_to 'Create a new community fund', new_fund_path, class: 'btn btn-primary btn-md new-fund', type: 'button'
            %tbody
              - @community_funds.each do |fund|
                %tr
                  %td= link_to fund.name, fund_path(fund)
                  %td= number_to_currency(fund.balance)
              %tr
                %td Balance of all personal funds
                %td= number_to_currency(@personal_funds_total)
            %tfoot
              %tr
                %td TOTAL
                %td= number_to_currency(@personal_funds_total + @community_funds_total)

    .row
      .col-12.col-md-6
        #accordionBankStatements.accordion
          .accordion-item
            %h2#headingOne.accordion-header
              %button.accordion-button.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-bs-target" => "#collapseOne", "data-bs-toggle" => "collapse", type: "button"}
                Bank statements & closed funds
            #collapseOne.accordion-collapse.collapse{"aria-labelledby" => "headingOne", "data-bs-parent" => "#accordionExample"}
              .accordion-body
                .row.statements-list
                  %h5 Bank statements

                  %ul
                    %li Bank: Tangerine
                    %li Account number: 4019235838

                  %p= link_to "Check bank account statements on TVE Google Drive", Rails.application.credentials.dig(:tve_resources, :bank_statements), target: '_blank'

                %hr

                .row.statements-list
                  %h5 Closed funds

                  %ul
                    - @archived_community_funds.each do |ar_fund|
                      %li= link_to ar_fund.name, fund_path(ar_fund)

    .row.transaction-section
      .col-12
        %h4 Your personal fund history

        = render 'transaction_table', fund: @fund

= render 'bookings/modals/fund_help'

