- fund_manager = @fund.user

.container.lg
  %section.user-page.show-object.fund-transactions
    %h3
      = "\"#{@fund.name}\" community fund"
      - if fund_manager == current_user && !@fund.archived?
        %span.links
          = link_to '✏️', edit_fund_path(@fund), class: 'action-post'
          - if @fund.transaction_presenters.empty?
            = link_to '🗑️', fund_remove_path(@fund), onclick: "return confirm('Are you sure you want to delete this fund?');", class: 'action-post'
          - else
            = link_to 'Close fund', fund_close_path(@fund), onclick: "return confirm('Are you sure you want to close this fund?');", class: 'btn btn-danger btn-md close-fund', type: 'button'

    %hr

    - if @fund.community && fund_manager.present?
      .row
        .col-12.organized-by
          = "Fund managed by #{fund_manager.full_name}"

      .row
        .col-12
          = simple_format(auto_link(@fund.description))

    - unless @fund.archived?
      .row
        .col-12.col-md-6
          .balance.your
            = "Current balance: #{number_to_currency(@fund.balance)}"

    .row.transaction-section
      .col-12
        = render 'transaction_table', fund: @fund

= render 'bookings/modals/fund_help'
