.container.lg
  %section.user-page.show-object.fund-transactions
    %h3 Bank statements

    %hr

    .row.statements-list
      %ul
        %li Bank: Tangerine
        %li Account number: 4019235838

    .row.statements
      %h5 Statements

      %p
        No bank statement available yet. The first one will show March 2024 transactions. 
        %br
        Bank statements will be posted on TVE's Google Drive in a folder linked from here.
