!!!
%html.h-100
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= Setting.app_name
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    -# %meta{content: "reload", name: "turbo-visit-control"}/
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

    = yield :head
  %body.d-flex.flex-column.h-100
    :css
      :root { --primary: #{Setting.app_color} !important; }

    = render 'shared/navigation'

    %main.flex-shrink-0{ role: 'main' }
      .container.my-3
        = render 'shared/alerts'

        = yield
    - if current_user.present?
      = render 'shared/footer'
