%h3= "Welcome to #{Setting.app_name}, #{@user.first_name}!"

%p
  = 'Glad to see you here, thanks for signing up!'

%p
  = "Please click on #{ link_to 'this confirmation link', confirmation_url(@resource, confirmation_token: @token) } to validate your registration, then you'll be able to log in to the #{Setting.app_name} internal website!".html_safe

%p
  = 'Finally, feel free to reach out to us if you have any questions about this website.'

%p
  = 'Take care!'
  <br />
  = 'The TVE tech admins.'
